<app-main-heading
  [icon]="icon"
  [mainHeading]="'Thêm khách Hàng'"
  [title]="title"
></app-main-heading>
<div class="row gutters mt-3">
  <div class="col-sm-12">
    <div class="row gutters">
      <div class="col-sm-12">
        <form class="card">
          <div class="card-header">
            <h3>
              Thêm khách hàng
            </h3>
          </div>
          <div class="card-body">
            <form [formGroup]="formAddKh">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    Họ tên
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Họ tên"
                      formControlName="hoTen"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    Ngày sinh
                    <input
                      type="date"
                      class="form-control"
                      placeholder="Ngày sinh"
                      formControlName="ngaySinh"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    Số điện thoại
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Số điện thoại"
                      formControlName="sdt"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-label">Giới tính </label> <br />
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="gioiTinh"
                        value="true"
                        formControlName="gioiTinh"
                      />
                      <label class="form-check-label"> Nam </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        name="gioiTinh"
                        type="radio"
                        value="false"
                        formControlName="gioiTinh"
                      />
                      <label class="form-check-label"> Nữ </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    Email
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Email"
                      formControlName="email"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <!-- <div class="form-group">
                    <label class="form-label">Trạng thái </label> <br />
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="trangThai"
                        value="1"
                        formControlName="trangThai"
                      />
                      <label class="form-check-label"> Đang hoạt động </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="trangThai"
                        value="0"
                        formControlName="trangThai"
                      />
                      <label class="form-check-label"> Ngừng hoạt động </label>
                    </div>
                  </div> -->
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    Tỉnh/Thành phố
                      <select 
                      class="form-select form-select-sm mb-3" 
                      id="city" 
                      aria-label=".form-select-sm" 
                      formControlName="tinh"
                      (change)="onCityChange()"
                      >
                        <option value="" selected>Chọn tỉnh thành</option>                    
                        <option *ngFor="let dc of tinh" [value]="dc.province_name">{{dc.province_name}}</option>                    
                        </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    Quận/Huyện
                    <select 
                    class="form-select form-select-sm mb-3" 
                    id="district" 
                    aria-label=".form-select-sm"
                    formControlName="huyen"
                    (change)="ondistrictChange()"
                    >
                      <option value="" selected>Chọn quận huyện</option>
                      <option *ngFor="let dc of huyen" [value]="dc.district_name">{{dc.district_name}}</option>          
                      </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    Xã/Phường
                    <select 
                    class="form-select form-select-sm" 
                    id="ward" 
                    ria-label=".form-select-sm"
                    formControlName="xa"
                    >
                      <option value="" selected>Chọn phường xã</option>
                      <option *ngFor="let dc of xa" [value]="dc.ward_name">{{dc.ward_name}}</option>           
                      </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    Địa chỉ giao hàng cụ thể
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Ngày sinh"
                      formControlName="duong"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    Tài khoản
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Tên đăng nhập"
                      formControlName="tenDangNhap"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    Mật khẩu
                    <input
                      type="password"
                      class="form-control"
                      placeholder="Mật khẩu"
                      formControlName="matKhau"
                    />
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="card-footer">
            <div class="">
              <div class="form-group justify-content-md-center">
                <button
                type="button"
                class="btn btn-outline-danger mx-sm-4 rounded"
                routerLink="/khach-hang/ds-khach-hang"
                >
                Hủy
              </button>
                <button 
                type="button" 
                class="btn btn-outline-primary mx-sm-4 rounded"
                [disabled]="formAddKh.invalid"
                (click)="addKH()"
                >
                  Thêm khách hàng
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>