<div class="container mb-5 mt-5">
    <div class="row">
        <div class="wrapperChucNang col-md-3">
            <app-profile-sidebar></app-profile-sidebar>
        </div>

        <div class="wrapperTaiKhoan col-md-8">
            <div data-v-52ea8532="">
                <div data-v-0125b209="" data-v-52ea8532="">
                     <!-- <div data-v-0125b209="" class="modal-new-address modal in" >  thêm in hiển thị modal-->
                    <div data-v-0125b209="" class="modal-new-address modal " >
                        
                        <div data-v-0125b209="" class="modal-container">
                            <div data-v-0125b209="" class="modal-content">
                                <div data-v-0125b209="" class="modal-header">
                                    <div data-v-0125b209="" class="modal-close">
                                        <span data-v-0125b209="" class="screen-reader-text">close</span>
                                    </div>
                                    <h4 data-v-0125b209="" class="modal-title">
                                        Thêm địa chỉ mới
                                    </h4>
                                </div>
                                <div data-v-0125b209="" class="checkout-shipping">
                                    <div data-v-0125b209="" class="checkout-shipping-form">
                                        <div data-v-0125b209="" class="row">
                                            <div data-v-0125b209="" class="form-group col-sm-6">
                                                <label data-v-0125b209="" for="name">Họ tên</label>
                                                <input data-v-0125b209="" type="text" name="" value="Hoàng Bảo Nhi"
                                                    id="name" placeholder="Nhập họ và tên" class="form-control" />
                                            </div>
                                            <div data-v-0125b209="" class="form-group col-sm-6">
                                                <label data-v-0125b209="" for="phone">Số điện thoại</label>
                                                <input data-v-0125b209="" type="text" name="" value="0123 456 789"
                                                    id="phone" placeholder="Nhập số điện thoại" class="form-control" />
                                            </div>
                                        </div>
                                        <div data-v-0125b209="" class="row">
                                            <div data-v-0125b209="" class="form-group col-sm-6">
                                                <label data-v-0125b209="" for="tinh">Tỉnh / Thành phố</label>
                                                <select data-v-0125b209="" name="state" class="form-control">
                                                    <option data-v-0125b209=""></option>
                                                    <option data-v-0125b209="" value="508">Hà Nội</option>    
                                                </select>
                                            </div>
                                            <div data-v-0125b209="" class="form-group col-sm-6">
                                                <label data-v-0125b209="" for="huyen">Quận / Huyện</label>
                                                <select data-v-0125b209="" name="city" id="huyen" class="form-control">
                                                    <option data-v-0125b209="">Chọn</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div data-v-0125b209="" class="form-group">
                                            <label data-v-0125b209="" for="xa">Phường / Xã</label>
                                            <select data-v-0125b209="" name="ward" id="xa" class="form-control">
                                                <option data-v-0125b209="">Chọn</option>
                                            </select>
                                        </div>
                                        <div data-v-0125b209="" class="form-group">
                                            <label data-v-0125b209="" for="dia-chi">Địa chỉ chi tiết</label>
                                            <input data-v-0125b209="" type="text" name="" id="dia-chi"
                                                placeholder="Tòa nhà, số nhà, tên đường" class="form-control" />
                                        </div>
                                       
                                        <div data-v-0125b209="" class="form-checkbox active">
                                            <input data-v-0125b209="" type="checkbox" name="" id="checkbox1"
                                                value="true" />
                                            <label data-v-0125b209="" for="checkbox1"><span data-v-0125b209="">Đặt làm
                                                    địa chỉ mặc định</span></label>
                                        </div>
                                        <div data-v-0125b209="" class="button">
                                            <button data-v-0125b209="" class="btn-save">
                                                Lưu địa chỉ
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-v-0125b209="" class="account-page-addresses" >
                        <div data-v-0125b209="" class="account-page-title">
                            <h1 data-v-0125b209="" class="title">Sổ địa chỉ</h1>
                        </div>
                        <div data-v-0125b209="" class="account-addresses-items">
                            <div data-v-0125b209="" class="account-addresses-item default">
                                <div data-v-0125b209="" class="info">
                                    <div data-v-0125b209="" class="address">
                                        fgfg, Huyện An Phú, An Giang
                                    </div>
                                    <div data-v-0125b209="" class="name-phone">
                                        <div data-v-0125b209="" class="name">Bình Phạm</div>
                                        <div data-v-0125b209="" class="line"></div>
                                        <div data-v-0125b209="" class="phone">0345262229</div>
                                    </div>
                                    <div data-v-0125b209="" class="address-type">
                                       
                                        <label data-v-0125b209="" class="label label-default"><svg data-v-0125b209=""
                                                width="20" height="20" viewBox="0 0 20 20" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path data-v-0125b209=""
                                                    d="M13.3337 11.1454C16.2768 11.724 18.3337 13.0456 18.3337 14.5833C18.3337 16.6544 14.6027 18.3333 10.0003 18.3333C5.39795 18.3333 1.66699 16.6544 1.66699 14.5833C1.66699 13.0456 3.72382 11.724 6.66699 11.1454M10.0003 14.1667V2.5L14.4318 5.22704C14.755 5.42595 14.9166 5.52541 14.9682 5.65071C15.0131 5.76 15.0096 5.88325 14.9584 5.98976C14.8997 6.11188 14.7326 6.20185 14.3984 6.38179L10.0003 8.75"
                                                    stroke="#DA291C" stroke-width="1.2" stroke-linecap="round"
                                                    stroke-linejoin="round"></path>
                                            </svg>
                                            <span data-v-0125b209="">Địa chỉ mặc định</span></label>
                                    </div>
                                </div>
                                <div data-v-0125b209="" class="action-edit">
                                    <span data-v-0125b209="">Sửa</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-0125b209="" class="account-addresses-btn-addnew">
                            <button data-v-0125b209="" class="btn btn-primary">
                                Thêm địa chỉ
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>