<div class="row">
  <div class="col-md-4">
    <label class="form-label">Tỉnh / Thành phố:</label>
    <div class="form-group">
      <div class="input-group">
        <select
          class="custom-select"
          [(ngModel)]="diaChiVaPhiVanChuyen.tinhId"
          (change)="getAllHuyenByTinh()"
        >
          <option value="-1">
            {{
              diaChiVaPhiVanChuyen.tinh
                ? diaChiVaPhiVanChuyen.tinh
                : "Chọn tỉnh thành"
            }}
          </option>
          <option
            *ngFor="let t of tinhs"
            [value]="t.ProvinceID"
            [selected]="t.ProvinceID == diaChiVaPhiVanChuyen.tinhId"
          >
            {{ t.ProvinceName }}
          </option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <label class="form-label">Quận / Huyện:</label>
    <div class="form-group">
      <div class="input-group">
        <select
          class="custom-select"
          [(ngModel)]="diaChiVaPhiVanChuyen.huyenId"
          (change)="getAllXaByHuyen()"
        >
          <option value="-1">Chọn quận huyện</option>
          <option *ngFor="let h of huyens" value="{{ h.DistrictID }}">
            <!-- [selected]="diaChiVaPhiVanChuyen.huyenId == h.DistrictID" -->

            {{ h.DistrictName }}
          </option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <label class="form-label">Xã / Phường / Thị trấn:</label>
    <div class="form-group">
      <div class="input-group">
        <select
          class="custom-select"
          (change)="onFinishChooseDiaChi()"
          [(ngModel)]="diaChiVaPhiVanChuyen.xaCode"
        >
          <option value="">Chọn phường xã</option>
          <option *ngFor="let x of xas" value="{{ x.WardCode }}">
            {{ x.WardName }}
          </option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <label class="form-label">Địa chỉ cụ thể:</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="diaChiVaPhiVanChuyen.cuThe"
      (change)="getPhiVanChuyen()"
    />
  </div>

  <hr />
  <!-- Shipping info -->
  <div class="ml-5">
    <p>
      Thời gian giao hàng dự kiến:
      {{ diaChiVaPhiVanChuyen.duKien | date : "dd-MM-yyyy" }}
    </p>
    <p>
      Phí vận chuyển: {{ diaChiVaPhiVanChuyen.phiVanChuyen | currency : "đ " }}
    </p>
  </div>
</div>
