.dropdown-menu {
    /* width: 120%; */
    /* Đặt độ rộng là 100% */
    /* max-width: none; */
    /* Không giới hạn độ rộng tối đa */
    /* background-color: rgb(246, 246, 246); */
    background-color: rgba(255, 255, 255);
}

.product-suggestions {
    width: 125%;
    max-height: 350px;
    overflow-y: auto
}

.customer-suggerstions {
    width: 100%;
    max-height: 300px;
    overflow-y: auto
}

.suggestion-item {
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: rgb(227, 226, 226) !important;
}

.order-number {
    cursor: pointer;
}

.count {
    border: 0;
    max-width: 30%;
}


input:disabled {
    background-color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}