<app-main-heading
  [icon]="icon"
  [mainHeading]="mainHeading"
  [title]="title"
></app-main-heading>

<div class="row gutters mt-4">
  <div class="card">
    <!-- Taskbar -->
    <div class="row taskbar">
      <!-- Search Product taskbar -->
      <div class="p-1 col-6">
        <div class="dropdown">
          <input
            type="text"
            class="form-control dropdown-toggle"
            id="dropdownProduct"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            placeholder="Thêm sản phẩm"
            (input)="getAllSpct()"
            (focus)="getAllSpct()"
            [(ngModel)]="searchProduct"
          />
          <div
            class="dropdown-menu product-suggestions"
            aria-labelledby="dropdownProduct"
          >
            <div class="suggestion-item row d-flex">
              <div
                class="row p-auto text-center"
                data-toggle="modal"
                data-target="#searchProductModal"
                style="height: 50px"
              >
                <div class="col-10 h5">
                  <i class="fa-solid fa-plus h5"></i>
                  Tìm kiếm nâng cao
                </div>
              </div>
            </div>
            <!-- Sản phẩm tìm kiếm -->
            <div
              class="suggestion-item row d-flex p-1"
              *ngFor="let spct of spcts"
              (click)="chooseProduct(spct)"
            >
              <div class="col-2 text-center">
                <app-product-image
                  [url]="spct.hinhAnhs[0].imageUrl"
                  [discount]="
                    spct.dotGiamGia == null
                      ? null
                      : spct.dotGiamGia.giaTriPhanTram
                  "
                  [widths]="90"
                  [heights]="90"
                  class="m-1"
                ></app-product-image>
                <!-- <img
                  class="thumbnail-san-pham"
                  [src]="spct.hinhAnhs[0].imageUrl"
                /> -->
              </div>
              <div class="col-5 p-2">
                <div class="fw-bold">
                  {{ spct.sanPham.ten }}
                </div>
                <div class="san-pham-ma">
                  {{ spct.sanPham.ma }}
                </div>
              </div>

              <div class="col-1">
                <span class="san-pham-mau-sac">{{ spct.mauSac.ten }}</span>
              </div>
              <div class="col-1">
                <span class="san-pham-kich-co">{{ spct.kichCo.ten }}</span>
              </div>
              <div class="col-3 mr-auto">
                <div class="">
                  <span
                    class="gia-chua-giam pr-1"
                    *ngIf="spct.dotGiamGia != null"
                  >
                    {{ spct.giaBan | currency : "đ " : "symbol" : "1.0-0" }}
                  </span>

                  <span class="gia-da-giam pl-1">
                    {{
                      (spct.dotGiamGia == null ? spct.giaBan : getGiaBan(spct))
                        | currency : "đ " : "symbol" : "1.0-0"
                    }}
                  </span>
                </div>
                <div class="text-mute">Còn lại: {{ spct.soLuongTon }}</div>
              </div>
            </div>
          </div>
          <!-- Sản phẩm tìm kiếm -->
        </div>
      </div>
      <!-- End search product taskbar -->
      <!-- Order taskbar -->
      <div class="col-6 row">
        <div
          class="col-2 order-number"
          [class.order-number-active]="
            order != null ? order.orderNameTemp == o.orderNameTemp : false
          "
          (click)="changeHoaDon(i)"
          *ngFor="let o of orders; index as i"
        >
          <span class="fs-5">{{ o.orderNameTemp }}</span>
          <button class="btn p-1" (click)="deleteOrder(i)">
            <i class="fa-regular fa-circle-xmark"></i>
          </button>
        </div>
        <div class="col-1 h-100 p-0">
          <button class="btn btn-create" (click)="newHoaDon()">
            <i class="fa-solid fa-plus text-light"></i>
          </button>
        </div>
      </div>
      <!-- End order taskbar -->
    </div>
    <!-- End taskbar -->
  </div>
</div>

<div class="row gutters">
  <div class="card col-9">
    <!-- Items -->
    <table class="table table-hover">
      <thead class="">
        <th class="">Mã</th>
        <th class="">Tên Sản phẩm</th>
        <th class="">Số lượng</th>
        <th class="">Đơn Giá</th>
        <th class="">Giá bán</th>
        <th class="">Tổng tiền</th>
      </thead>
      <tbody>
        <tr class="" *ngFor="let hdct of order?.hoaDonChiTiets; index as i">
          <td class="">
            <button
              type="button"
              class="btn btn-outline-danger p-1 m-1"
              (click)="deleteHDCT(i)"
            >
              <i class="fa-solid fa-trash"></i>
            </button>
            <span>{{ hdct.sanPhamChiTiet.sanPham.ma }}</span>
          </td>
          <td class="">
            <div class="fw-bold">
              {{ hdct.sanPhamChiTiet.sanPham.ten }}
            </div>
            <div class="text-muted">
              <span class="mr-3"
                >Size: {{ hdct.sanPhamChiTiet.kichCo.ten }}</span
              >
              <span>Màu: {{ hdct.sanPhamChiTiet.mauSac.ten }}</span>
            </div>
          </td>
          <td class="">
            <div class="qty">
              <button
                class="rounded-5 btn-outline-dark p-0"
                (click)="minusQuantity(hdct)"
              >
                <i class="fa-solid fa-minus"></i>
              </button>
              <input
                type="number"
                class="count"
                [(ngModel)]="hdct.soLuong"
                (ngModelChange)="insertSLSP()"
                min="0"
                step="1"
              />
              <button
                class="rounded-5 btn-outline-dark p-0"
                (click)="plusQuantity(hdct)"
              >
                <i class="fa-solid fa-plus"></i>
              </button>
            </div>
          </td>
          <td class="">
            {{
              hdct.sanPhamChiTiet.giaBan | currency : " " : "symbol" : "1.0-0"
            }}
          </td>
          <td class="">
            <input type="number" [(ngModel)]="hdct.giaBan" />
          </td>
          <td class="">
            {{
              hdct.soLuong * hdct.giaBan | currency : " " : "symbol" : "1.0-0"
            }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!--  -->
  <div class="card col-3">
    <!-- Sidebar -->
    <div class="">
      <div class="user-choose" *ngIf="order != null && order.khachHang != null">
        <div
          class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center"
        >
          <i class="fa-solid fa-user m-1 me-md-2"></i>
          <a
            [routerLink]="'/khach-hang/sua-khach-hang/' + order.khachHang.id"
            class="flex-grow-1"
          >
            <p class="d-none d-md-block mb-0" id="userFullName">
              {{ order.khachHang.hoTen }}
            </p>
            <p
              class="d-none d-md-block mb-0 text-mute"
              style="font-size: 12px"
              id="userPhoneNumber"
            >
              {{ order.khachHang.sdt }}
            </p>
          </a>
          <button type="button" class="btn" (click)="removeKhachHangInOrder()">
            <i class="fa-regular fa-circle-xmark"></i>
          </button>
        </div>
      </div>

      <div class="dropdown" *ngIf="order != null && order.khachHang == null">
        <input
          type="text"
          class="form-control dropdown-toggle"
          id="dropdownKhachHang"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          placeholder="Thêm khách hàng vào đơn"
          (input)="getAllKhachHang()"
          [(ngModel)]="searchKhachHang"
        />
        <div
          class="dropdown-menu customer-suggerstions"
          aria-labelledby="dropdownKhachHang"
        >
          <div class="suggestion-item text-center p-2">
            <i class="fa-solid fa-plus"></i>
            Thêm mới khách hàng
          </div>
          <div
            class="suggestion-item p-2"
            (click)="chooseKhachHang(kh)"
            *ngFor="let kh of khachHangs"
          >
            {{ kh.hoTen + " - " + kh.sdt }}
          </div>
        </div>
      </div>
    </div>
    <hr class="fw-bold" />
    <!-- Tiền nong -->
    <div class="">
      <div class="d-flex justify-content-between m-1">
        <span class="ml-auto fw-bold"
          >Giao hàng:
          <input
            type="checkbox"
            [checked]="order != null && order.loaiHoaDon == 'GIAO_HANG'"
            (change)="changeLoaiHoaDon($event)"
          />
        </span>
      </div>
      <div class="d-flex justify-content-between m-1">
        <span class="mr-auto fw-bold">Số lượng sản phẩm:</span>
        <span class="ml-auto">{{ getSoLuongSanPham() }}</span>
      </div>
      <div class="d-flex justify-content-between m-1">
        <span class="mr-auto fw-bold">Tổng tiền:</span>
        <span class="ml-auto">{{
          getTongTien() | currency : "đ " : "symbol" : "1.0-0"
        }}</span>
      </div>

      <div
        class="d-flex justify-content-between m-1"
        *ngIf="order != null && order.loaiHoaDon == 'GIAO_HANG'"
      >
        <!-- Show on selected Giao hàng -->
        <span class="mr-auto fw-bold">Phí vận chuyển:</span>
        <span class="ml-auto"
          ><input
            type="number"
            [(ngModel)]="order.phiVanChuyen"
            class="right-align"
        /></span>
      </div>
      <div class="d-flex justify-content-between m-1">
        <span class="mr-auto fw-bold">Tiền giảm:</span>
        <!-- <span class="ml-auto">{{
          (order != null ? order.tienGiam : 0)
            | currency : "đ " : "symbol" : "1.0-0"
        }}</span> -->
        <input
          class="border-0 right-align"
          type="text"
          [ngModel]="
            order != null
              ? (order.tienGiam | currency : 'đ ' : 'symbol' : '1.0-0')
              : 0
          "
          disabled
        />
      </div>
      <div class="d-flex justify-content-between m-1 h5">
        <span class="mr-auto fw-bold">Khách phải trả:</span>
        <span class="ml-auto">{{
          getMustPay() | currency : "đ " : "symbol" : "1.0-0"
        }}</span>
      </div>
      <div class="d-flex justify-content-between m-1">
        <span class="mr-auto fw-bold"
          >Khách thanh toán:
          <button
            type="button"
            class="btn btn-outline-info p-1"
            data-toggle="modal"
            data-target="#thanhToanModal"
          >
            <i class="fa-solid fa-credit-card"></i>
          </button>
        </span>
        <span class="ml-auto">{{
          getTienKhachThanhToan() | currency : "đ " : "symbol" : "1.0-0"
        }}</span>
      </div>
      <div class="d-flex justify-content-between m-1">
        <span class="mr-auto fw-bold">Khách còn thiếu:</span>
        <span class="ml-auto">{{
          getTienKhachConThieu() | currency : "đ " : "symbol" : "1.0-0"
        }}</span>
      </div>
      <div class="d-flex justify-content-between m-1">
        <div class="mr-auto fw-bold">Phiếu giảm giá:</div>
        <span class="ml-auto">
          <div class="">
            <input
              type="text"
              disabled
              [value]="
                order.phieuGiamGia.maPhieuGiamGia +
                ': Giảm ' +
                (order.phieuGiamGia.kieu == 0
                  ? order.phieuGiamGia.giaTri + '%'
                  : (order.phieuGiamGia.giaTri
                    | currency : ' ' : 'symbol' : '1.0-0')) +
                'tối đa ' +
                (order.phieuGiamGia.giaTriMax
                  | currency : ' ' : 'symbol' : '1.0-0')
              "
              *ngIf="order != null && order.phieuGiamGia != null"
              class="right-align fw-bold"
            />
            <input
              type="text"
              disabled
              *ngIf="order == null || order.phieuGiamGia == null"
              class="right-align form-control"
            />
          </div>
          <div class="text-danger">{{ messagePgg }}</div>
        </span>

        <!-- Tự fill PGG -->
      </div>
      <!-- Giao hàng  -->
      <div *ngIf="order != null && order.loaiHoaDon == 'GIAO_HANG'">
        <div class="d-flex justify-content-between m-1">
          <span class="mr-auto fw-bold">Tên người nhận: </span>
          <span class="ml-auto"
            ><input
              type="text"
              class="right-align"
              [(ngModel)]="order.tenNguoiNhan"
          /></span>
        </div>
        <div class="d-flex justify-content-between m-1">
          <span class="mr-auto fw-bold">Số điện thoại:</span>
          <span class="ml-auto"
            ><input
              type="text"
              class="right-align"
              [(ngModel)]="order.sdtNguoiNhan"
          /></span>
        </div>
        <div class="d-flex justify-content-between m-1">
          <span class="mr-auto fw-bold">Địa chỉ:</span>
          <span class="ml-auto"
            ><button
              type="button"
              class="btn btn-outline-info p-1"
              data-toggle="modal"
              data-target="#diaChiModal"
            >
              <i class="fa-solid fa-location-dot"></i> Chọn địa chỉ
            </button></span
          >
        </div>
      </div>

      <div class="d-flex justify-content-between m-1">
        <span class="mr-auto fw-bold"
          >Ghi chú:<textarea rows="2" cols="45"></textarea>
        </span>
      </div>
      <div
        style="height: 180px"
        *ngIf="order != null && order.loaiHoaDon == 'TAI_QUAY'"
      ></div>
      <div class="mb-3 h4">
        <button
          class="btn btn-success btn-lg w-100 h-100"
          (click)="muaHang()"
          *ngIf="order != null && order.loaiHoaDon == 'TAI_QUAY'"
        >
          Mua Hàng
        </button>
        <button
          class="btn btn-warning btn-lg w-100 h-100"
          (click)="datHang()"
          *ngIf="order != null && order.loaiHoaDon == 'GIAO_HANG'"
        >
          Đặt Hàng
        </button>
      </div>
    </div>
  </div>

  <!-- Modal Thanh Toán-->
  <div
    class="modal fade"
    id="thanhToanModal"
    tabindex="-1"
    style="display: none"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Thanh Toán</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <!-- Main modal -->
        <div class="modal-body" *ngIf="order">
          <app-thanh-toan
            [(thanhToans)]="order.thanhToans"
            [tongTien]="getMustPay()"
          ></app-thanh-toan>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">
            Ok
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal địa chỉ -->
  <div
    class="modal fade"
    id="diaChiModal"
    tabindex="-1"
    style="display: none"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <!-- Main modal -->
        <div class="modal-body">
          <app-giao-hang
            *ngIf="order"
            [khachHang]="order.khachHang"
            (phiVanChuyen)="caculatePhiVanChuyen($event)"
            (diaChi)="getDiaChiNguoiNhan($event)"
          ></app-giao-hang>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">
            Xác nhận
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Search Product Modal -->
  <div
    class="modal fade product-modal"
    id="searchProductModal"
    tabindex="-1"
    style="display: none"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Tìm kiếm nâng cao</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <!-- Main modal -->
        <app-search-product-detail
          (chooseProduct)="chooseProduct($event)"
        ></app-search-product-detail>
      </div>
    </div>
  </div>
</div>
