<app-main-heading
  [icon]="icon"
  [mainHeading]="mainHeading"
  [title]="tittle"
></app-main-heading>

<div class="row gutters">
  <div class="col-sm-12">
    <!-- Filter Form -->
    <app-filter></app-filter>
    <!-- End Filter Form -->
    <!-- Row start -->
    <app-table
      [titleTable]="titleTable"
      [tHead]="tHead"
      [listObject]="data"
      [pageArray]="pageArray"
      [pageNumber]="pageNumber"
      [pageSize]="pageSize"
      [search]="search"
      (onPageChange)="handleChangePageSize($event)"
      (onPageNumberChange)="handleChangePageNumber($event)"
    ></app-table>
    <!-- Row ends -->
  </div>
</div>
