<!-- Form -->
<form class="row">
  <!-- Tổng tiền -->
  <div class="d-flex justify-content-between m-1">
    <span class="mr-auto fw-bold">Tổng tiền:</span>
    <span class="ml-auto fw-bold text-danger">90,000</span>
  </div>
  <!-- Tiền khách đưa -->
  <div class="d-flex justify-content-between m-1">
    <span class="mr-auto fw-bold">Tiền khách đưa:</span>
    <span class="ml-auto"><input type="number" /></span>
  </div>
  <!-- Tiền thiếu -->
  <div class="d-flex justify-content-between m-1">
    <span class="mr-auto fw-bold">Tiền thiếu:</span>
    <span class="ml-auto fw-bold text-danger">0</span>
  </div>
  <!-- Hình thức thanh toán -->
  <div class="d-flex justify-content-between m-1">
    <span class="mr-auto">
      <label class="form-label fw-bold">Hình thức: </label>
      <label class="form-check form-check-inline ml-4">
        <input
          class="form-check-input"
          type="radio"
          name="hinhThucThanhToan"
          value="TIEN_MAT"
        />
        <label class="form-check-label">Tiền mặt</label>
      </label>
      <label class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="hinhThucThanhToan"
          value="CHUYEN_KHOAN"
        />
        <label class="form-check-label">Chuyển khoản</label>
      </label></span
    >
  </div>
  <!-- Mã giao dịch -->
  <div class="m-1">
    <span class="mr-auto fw-bold">Mã giao dịch:</span>
    <span
      ><input type="text" class="form-control" />
      <small class="form-text text-danger"
        >Mã giao dịch không được trống</small
      ></span
    >
  </div>
</form>
<!-- Controll -->
<div>
  <button type="button" class="btn btn-primary mt-2 mb-2">Xác nhận</button>
</div>

<!-- Table thanh toán -->
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr role="row">
        <th>Mã GD</th>
        <th>Số tiền</th>
        <th>Phương thức</th>
        <th>Ghi chú</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td>90,000</td>
        <td>
          <!-- <app-phuong-thuc-thanh-toan
              [phuongThucThanhToan]="lstt.hinhThucThanhToan"
            ></app-phuong-thuc-thanh-toan> -->
        </td>
        <td>ghi_chu</td>
        <td>x</td>
      </tr>
    </tbody>
  </table>
</div>
