<form [formGroup]="updateFormDC">
  <div class="modal-body">
    <div class="form-row">
      <label for="inputEmail4">Tỉnh/Thành phố</label>
      <input type="text" class="form-control" formControlName="tinh" />
      <input
        type="text"
        class="form-control"
        formControlName="id"
        hidden
      />
      <div class="invalid-feedback">Không được bỏ trống</div>
    </div>

    <div class="form-row mt-3">
      <label for="inputEmail4">Huyện</label>
      <input type="text" class="form-control" formControlName="huyen" />
      <div class="invalid-feedback">Không được bỏ trống</div>
    </div>
    <div class="form-row mt-3">
      <label for="inputEmail4">Xã</label>
      <input type="text" class="form-control" formControlName="xa" />
      <div class="invalid-feedback">Không được bỏ trống</div>
    </div>
    <div class="form-row mt-3">
      <label for="inputEmail4">Địa chỉ giao hàng</label>
      <input type="text" class="form-control" formControlName="duong" />
      <div class="invalid-feedback">Không được bỏ trống</div>
    </div>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      data-dismiss="modal"
      id="closeUpdateBtn"
    >
      Đóng
    </button>
    <button type="button" class="btn btn-primary" (click)="updateDC(dcDetail.id)">
      Cập nhật
    </button>
  </div>
</form>
