<app-main-heading
  [icon]="icon"
  [mainHeading]="mainHeading"
  [title]="tittle"
></app-main-heading>

<div class="row gutters pt-3">
  <!-- Form -->
  <div class="col col-sm-5 col-md-4">
    <app-form [formButton]="formButton" [formHeader]="formHeader"></app-form>
  </div>

  <!-- Tables -->
  <div class="col col-md-8">
    <app-table
      [titleTable]="titleTableProduct"
      [tHead]="tHeadProduct"
      [placeHolder]="'Mã..Tên..'"
      [listSanPham]="dataSanPham"
      [template]="'SanPhamTable'"
      
    ></app-table>
  </div>
  <div class="row">
    <app-table
      [titleTable]="titleTableProducts"
      [tHead]="tHeadProducts"
      [listSanPhamChiTiet]="dataSanPhamChiTiet"
      [template]="'SanPhamChiTietTable'"
      [placeHolder]="'Mã Sản Phẩm'"
    ></app-table>
  </div>
  <!-- Modal -->
  <app-modal
    [message]="modalMessage"
    [nameAction]="modalAction"
    [title]="modalTitle"
  ></app-modal>
</div>
