<app-main-heading
  [icon]="icon"
  [mainHeading]="mainHeading"
  [title]="tittle"
></app-main-heading>

<div class="row gutters pt-3">
  <!-- Form -->
  <div class="col col-sm-5 col-md-4">
    <app-form
      [formButton]="formButton"
      [formHeader]="formHeader"
      [modalTitle]="'Xác Nhận Cập Nhật'"
      [dotGiamGiaRequest]="dotGiamGiaUpdateRequest"
      [typeForm]="typeForm"
      [modalAction]="'Cập nhật'"
      [modalMessage]="'Bạn chắc chắn muốn cập nhật đợt khuyến mại?'"
    ></app-form>
  </div>
  <!-- Tables -->
  <div class="col col-md-8">
    <div class="row gutters">
      <div class="col-sm-12">
        <div class="card">
          <div>
            <h2 class="card-header">Danh Sách Sản Phẩm</h2>
          </div>
          <div class="card-body">
            <table
              id="rowSelection_wrapper"
              class="table dataTables_wrapper dt-bootstrap5"
            >
              <div class="row">
                <div class="col-sm-12">
                  <table
                    id="rowSelection"
                    class="table table-striped table-bordered dataTable no-footer table-hover"
                    role="grid"
                    aria-describedby="rowSelection_info"
                  >
                    <thead>
                      <tr class="table" role="row">
                        <th *ngFor="let object of tHeadProduct">
                          {{ object }}
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container
                        *ngIf="
                          dataSanPham && dataSanPham.length > 0;
                          else noDataTemplate1
                        "
                      >
                        <tr
                          role="row"
                          class="odd"
                          *ngFor="let object of dataSanPham"
                        >
                          <td class="sorting_1">
                            <input
                              [checked]="
                                this.listIdSanPham?.includes(+object.id)
                              "
                              [disabled]="
                                object.trangThai === false ? true : false
                              "
                              type="checkbox"
                              (change)="setListIdSanPham(object.id)"
                            />
                          </td>
                          <td>{{ object.ma }}</td>
                          <td>{{ object.ten }}</td>
                          <td>
                            <button
                              class="{{
                                object.trangThai === true
                                  ? 'btn btn-success btn-rounded'
                                  : 'btn btn-danger btn-rounded'
                              }}"
                            >
                              {{
                                object.trangThai === true
                                  ? "Đang Bán"
                                  : "Ngừng Bán"
                              }}
                            </button>
                          </td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
              </div>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="row gutters">
      <div class="col-sm-12">
        <div class="card">
          <div>
            <h2 class="card-header">Danh Sách Chi Tiết Sản Phẩm</h2>
          </div>
          <div class="card-body">
            <table
              id="rowSelection_wrapper"
              class="table dataTables_wrapper dt-bootstrap5"
            >
              <div class="row">
                <div class="col-sm-12">
                  <table
                    id="rowSelection"
                    class="table table-striped table-bordered dataTable no-footer table-hover"
                    role="grid"
                    aria-describedby="rowSelection_info"
                  >
                    <thead>
                      <tr class="table" role="row">
                        <th *ngFor="let object of tHeadProducts">
                          {{ object }}
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container
                        *ngIf="
                          dataSanPhamChiTiet && dataSanPhamChiTiet.length > 0;
                          else noDataTemplate
                        "
                      >
                        <tr
                          role="row"
                          class="odd p-3"
                          *ngFor="
                            let object of dataSanPhamChiTiet;
                            let index = index
                          "
                        >
                          <td class="sorting_1">
                            <input
                              [checked]="
                                this.listIdSanPhamChiTiet?.includes(+object.id)
                              "
                              [disabled]="
                                object.trangThai === false ? true : false
                              "
                              type="checkbox"
                              (click)="setListIdSanPhamChiTiet(object.id)"
                            />
                            {{ index + 1 }}
                          </td>
                          <!-- image -->
                          <img
                            *ngIf="object?.hinhAnhSanPham; else defaultImage"
                            [src]="object?.hinhAnhSanPham"
                            alt=""
                            width="100px"
                            height="80px"
                          />
                          <ng-template #defaultImage>
                            <img
                              src="assets/img/default-image.jpg"
                              alt="Default Image"
                            />
                          </ng-template>
                          <td>{{ object.maSanPham }}</td>
                          <td>{{ object.tenSanPham }}</td>
                          <td>{{ object.soLuongTon }}</td>
                          <td>{{ object.giaBan }}VNĐ</td>
                          <td>{{ object.tenChatLieu }}</td>
                          <td>{{ object.tenCoAo }}</td>
                          <td>{{ object.tenKichCo }}</td>
                          <td>{{ object.tenKieuDang }}</td>
                          <td>{{ object.tenTayAo }}</td>
                          <td>{{ object.tenThietKe }}</td>
                          <td>
                            <button
                              *ngIf="object.maMauSac != null"
                              [ngClass]="'btn'"
                              [ngStyle]="{
                                'background-color': object.maMauSac
                              }"
                            ></button>
                          </td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
              </div>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noDataTemplate>
  <tr>
    <td [colSpan]="tHeadProducts.length" class="text-center">
      Úi Bạn Ơi Không Có Dữ Liệu!!!
    </td>
  </tr>
</ng-template>

<ng-template #noDataTemplate1>
  <tr>
    <td [colSpan]="tHeadProduct.length" class="text-center">
      Úi Bạn Ơi Không Có Dữ Liệu!!!
    </td>
  </tr>
</ng-template>
