<section style="margin-bottom: 120px">
    <div class="px-4 py-5 px-md-5 text-center text-lg-start">
      <div class="container">
        <div class="row gx-lg-5 align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <h1 class="my-5 display-3 fw-bold ls-tight">
              Bee Shirt <br />
              <span style="color: #ffc107">Đẹp trong từng thước vải</span>
            </h1>
            <p style="color: hsl(217, 10%, 50.8%)">
              Bee Shirt đang tạo ra những bộ trang phục sản xuất trong nước hoàn
              toàn có thể sánh ngang với các thương hiệu thời trang nam đến từ
              nước ngoài về kiểu dáng, chất lượng lẫn phong cách thời trang.” -
              CEO Bee Shirt
            </p>
          </div>
  
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="form-container">
                <h3 class="title">Đăng Kí</h3>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label>Họ </label>
                        <input type="text" class="form-control" placeholder="Họ">
                    </div>
                    <div class="form-group">
                        <label>Tên</label>
                        <input type="text" class="form-control" placeholder="Tên">
                    </div>
                    <div class="form-group">
                        <label>Số điện thoại</label>
                        <input type="text" class="form-control" placeholder="Số điện thoại">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" placeholder="Email">
                    </div>
                
                    <div class="form-group">
                        <label>Mật khẩu</label>
                        <input type="password" class="form-control" placeholder="Mật khẩu">
                    </div>
                    <div class="form-group">
                        <label>Xác nhận mật khẩu</label>
                        <input type="password" class="form-control" placeholder="Xác nhận mật khẩu">
                    </div>
                  
                    <div class="check-terms">
                        <input type="checkbox" class="checkbox">
                        <span class="check-label">Tôi chấp nhận điều khoản quyền riêng tư và bảo mật </span>
                    </div>
                    <span class="signin-link">Bạn đã có tài khoản? <a href="/login">Đăng nhập</a></span>
                    <button class="btn signup">Tạo tài khoản</button>
                </form>
            </div>
             
           
          </div>
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->
  