
.list-menu {
    padding: 0;
    list-style-type: none;
   display: flex;
   justify-content: center;
    margin: 0px;
}

.menu-item {
    margin:  10px; /* Khoảng cách giữa các mục menu */
}

.menu-item a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    
}
.header_new{
    color: red;
    font-size: 12px;
    font-weight: bold;
}

.menu-item a:hover {
   color: rgb(240, 119, 50);
}