<div class="header-bottom">
    <ul class="list-menu">
        <li class="menu-item">
            <a href="">Cửa Hàng</a>
        </li>
        
        <li class="menu-item">
            <a href="">🔎 Hàng Mới</a>
        </li>
        <span class="header_new">New</span>
        <li class="menu-item">
            <a href="">Sản Phẩm</a>
        </li>
        <li class="menu-item">
            <a href="">Áo Nam</a>
        </li>
        <li class="menu-item">
            <a href="">Về Chúng Tôi</a>
        </li>
    </ul>
</div>