<section class="container">
  <div class="row">
    <div class="filter">
      <div class="filterItem">
        <select class="form-control">
          <option value="apple"><input type="checkbox" /> ok 1</option>
          <option value="apple"><input type="checkbox" /> ok 2</option>
          <option value="apple"><input type="checkbox" /> ok 3</option>
        </select>
      </div>

      <div class="filterItem">
        <select class="form-control">
          <option value="">--Kiểu Áo--</option>
        </select>
      </div>
      <div class="filterItem">
        <select name="" id="" class="form-control">
          <option value="">--Kiểu Áo--</option>
        </select>
      </div>

      <div class="filterItem">
        <select name="" id="" class="form-control">
          <option value="">--Kiểu Áo--</option>
        </select>
      </div>

      <div class="filterItem">
        <select name="" id="" class="form-control">
          <option value="">--Kiểu Áo--</option>
        </select>
      </div>
      <div class="filterItem">
        <select name="" id="" class="form-control">
          <option value="">--Kiểu Áo--</option>
        </select>
      </div>
      <div class="filterItem">
        <select name="" id="" class="form-control">
          <option value="">--Kiểu Áo--</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-2">
      <h5>Danh Mục</h5>
      <ul style="padding-left: 0px">
        <li class="itemDanhMuc">
          <a href="">Áo Dài</a>
        </li>
        <li class="itemDanhMuc">
          <a href="">Áo Ngắn</a>
        </li>
        <li class="itemDanhMuc">
          <a href="">Áo cổ cao</a>
        </li>
        <li class="itemDanhMuc">
          <a href="">Áo Dài</a>
        </li>
        <li class="itemDanhMuc">
          <a href="">Áo Dài</a>
        </li>
        <li class="itemDanhMuc">
          <a href="">Áo Dài</a>
        </li>
      </ul>

      <h5>Kích Cỡ</h5>
      <ul class="kichCo" style="padding-left: 0">
        <li class="itemKichCo">
          <a href="">S</a>
        </li>
        <li class="itemKichCo">
          <a href="">M</a>
        </li>
        <li class="itemKichCo">
          <a href="">L</a>
        </li>
        <li class="itemKichCo">
          <a href="">XL</a>
        </li>
      </ul>

      <h5>Màu Sắc</h5>
      <ul class="mauSac" style="padding-left: 0">
        <li class="itemMauSac">
          <a href="">
            <img
              class="img-color"
              src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/ao-so-mi-nam-scm6081-den-6.jpg?v=1704250335827"
              alt=""
            />
          </a>
        </li>
        <li class="itemMauSac">
          <a href="">
            <img
              class="img-color"
              src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/ao-so-mi-nam-scm6081-den-6.jpg?v=1704250335827"
              alt=""
            />
          </a>
        </li>
        <li class="itemMauSac">
          <a href="">
            <img
              class="img-color"
              src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/ao-so-mi-nam-scm6081-den-6.jpg?v=1704250335827"
              alt=""
            />
          </a>
        </li>
        <li class="itemMauSac">
          <a href="">
            <img
              class="img-color"
              src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/ao-so-mi-nam-scm6081-den-6.jpg?v=1704250335827"
              alt=""
            />
          </a>
        </li>
      </ul>

      <h5>Khoảng Giá</h5>

      <input type="range" class="form-range" id="customRange1" />
    </div>
    <div class="col-md-10 row">
      <div class="col-md-3 mb-5" *ngFor="let sp of pagedResponse?.data">
        <div class="product">
          <div class="product-thumbnail">
            <a class="image_thumb">
              <img [src]="sp.sanPhamChiTiets[0].hinhAnhs[0].imageUrl" alt="" />
            </a>
          </div>
          <div class="details">
            <h3 class="nameProduct">
              <a [routerLink]="'/san-pham/' + sp.id">{{ sp.ten }}</a>
            </h3>

            <p class="priceProduct">{{ displayPrice(sp) }}</p>

            <div class="swatch-color-wrapper">
              <div data-value="Đen" class="swatch-element">
                <img
                  class="img-color"
                  src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/ao-so-mi-nam-scm6081-den-6.jpg?v=1704250335827"
                  alt=""
                />
              </div>
              <div data-value="Đen" class="swatch-element">
                <img
                  class="img-color"
                  src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/ao-so-mi-nam-scm6081-den-6.jpg?v=1704250335827"
                  alt=""
                />
              </div>
              <div data-value="Đen" class="swatch-element">
                <img
                  class="img-color"
                  src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/ao-so-mi-nam-scm6081-den-6.jpg?v=1704250335827"
                  alt=""
                />
              </div>
              <div data-value="Đen" class="swatch-element">
                <img
                  class="img-color"
                  src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/ao-so-mi-nam-scm6081-den-6.jpg?v=1704250335827"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
