<app-main-heading
  [icon]="icon"
  [mainHeading]="mainHeading"
  [title]="tittle"
></app-main-heading>

<div class="row gutters pt-3">
  <!-- Form -->
  <div class="col col-sm-5 col-md-4">
    <app-form
      [formButton]="formButton"
      [formHeader]="formHeader"
      [modalTitle]="'Xác Nhận Thêm'"
      [modalMessage]="'Bạn chắc chắn muốn thêm đợt khuyến mại mới?'"
      [modalAction]="'Thêm mới'"
      [typeForm]="'add'"
      [dotGiamGiaRequest]="dotGiamGiaRequest"
    ></app-form>
  </div>

  <!-- Tables -->
  <div class="col col-md-8">
    <app-table
      [titleTable]="titleTableProduct"
      [tHead]="tHeadProduct"
      [placeHolder]="'Mã..Tên..'"
      [listSanPham]="dataSanPham"
      [template]="'SanPhamTable'"
      (clickSanPham)="getListIdSanPham($event)"
    ></app-table>
  </div>
  <div class="row">
    <app-table
      [titleTable]="titleTableProducts"
      [tHead]="tHeadProducts"
      [template]="'SanPhamChiTietTable'"
      [placeHolder]="'Mã Sản Phẩm'"
      [listSanPhamChiTiet]="dataSanPhamChiTiet"
      (clickSanPhamChiTiet)="getListIdSanPhamChiTiet($event)"
    ></app-table>
  </div>
</div>
