<app-main-heading
  [icon]="'fa-solid fa-palette'"
  [mainHeading]="'Màu Sắc'"
  [title]="'Màu Sắc'"
></app-main-heading>

<div class="row gutters pt-2">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h3 class="mb-2">Danh sách màu sắc</h3>
        <!-- HEADER  -->
        <div>
          <div class="col col-md-12 d-flex">
            <div class="input-group form-group search-block">
              <input
                type="text"
                class="form-control"
                placeholder="Tìm màu sắc..."
              />
              <span class="input-group-btn">
                <button class="btn btn-primary" type="button">Tìm kiếm</button>
              </span>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4 text-right">
              <button type="button" class="btn btn-primary btn-lg">
                Thêm mới <i class="fa-solid fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
        <!--  -->
      </div>
      <div class="card-body">
        <!-- TABLE -->
        <table class="table">
          <thead class="thead-default">
            <tr>
              <th>STT</th>
              <th>Ảnh</th>
              <th>Mã màu</th>
              <th>Tên màu</th>
              <th>Ngày thêm</th>
              <th>Hành động</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <!--  -->
      </div>
      <div class="card-footer">
        <div class="col col-md-12 d-flex justify-content-between">
          <div class="col-md-3">
            <label class="my-1 mr-2" for="inlineFormCustomSelectPref"
              >Số lượng:
            </label>
            <select
              class="custom-select my-1 mr-sm-2 col-md-5"
              id="inlineFormCustomSelectPref"
            >
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="15">15</option>
            </select>
          </div>
          <div class="">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="#">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">Next</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
