<div class="card">
  <div class="card-header">
    <strong
      >Chi Tiết Hoá Đơn
      <strong style="color: #32ba7c">{{ hoaDon?.ma }} </strong>
    </strong>
  </div>
  <div class="card-body">
    <ng-container *ngIf="this.hoaDon != null; else noData">
      <div class="row">
        <div class="col col-md-12">
          <ng-container>
            <div class="card">
              <div class="card-header d-flex justify-content-between">
                Danh Sách Sản Phẩm Đã Mua
                <span class="text-danger font-italic"
                  >*Các sản phẩm được khuyến mại sẽ không được trả hàng</span
                >
              </div>
              <div class="card-body">
                <nz-table
                  [nzPageSizeOptions]="[5, 10, 20, 30]"
                  [nzPageSize]="5"
                  #rowSelectionTable
                  nzShowSizeChanger
                  [nzData]="listOfData"
                  (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
                >
                  <thead>
                    <tr>
                      <th
                        [nzSelections]="listOfSelection"
                        [(nzChecked)]="checked"
                        [nzIndeterminate]="indeterminate"
                        (nzCheckedChange)="onAllChecked($event)"
                      ></th>
                      <th>Sản Phẩm</th>
                      <th>Số Lượng</th>
                      <th>Giá Tiền</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of rowSelectionTable.data">
                      <td
                        [nzChecked]="setOfCheckedId.has(data.id)"
                        [nzDisabled]="
                          isInListIdDotGiamGiaSanPham(data.sanPhamChiTiet.id)
                        "
                        (nzCheckedChange)="
                          showConfirmOfQuantity(data.id, data.soLuong, $event)
                        "
                      ></td>
                      <td>
                        <img
                          class="product-image"
                          [src]="data.sanPhamChiTiet.hinhAnhs.at(0).imageUrl"
                        />
                        {{ data.sanPhamChiTiet.sanPham.ten }} - [{{
                          data.sanPhamChiTiet.mauSac.ten
                        }}
                        | {{ data.sanPhamChiTiet.kichCo.ten }}]
                      </td>
                      <td>{{ data.soLuong }}</td>
                      <td>{{ data.giaBan | currency : "VND" }}</td>
                    </tr>
                  </tbody>
                </nz-table>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-8">
          <ng-container>
            <div class="card">
              <div class="card-header">Danh Sách Sản Phẩm Trả</div>
              <div class="card-body">
                <nz-table
                  #headerTable
                  [nzData]="this.listReturnItems"
                  [nzPageSize]="5"
                >
                  <thead>
                    <tr>
                      <th class="large-column">Sản Phẩm</th>
                      <th>Số Lượng Hoàn Trả</th>
                      <th>Giá Tiền Mua</th>
                      <th>Tổng Tiền</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of headerTable.data">
                      <td [width]="300">
                        <img
                          class="product-image"
                          [src]="data.sanPhamChiTiet.hinhAnhs.at(0).imageUrl"
                        />
                        {{ data.sanPhamChiTiet.sanPham.ten }} - [{{
                          data.sanPhamChiTiet.mauSac.ten
                        }}
                        | {{ data.sanPhamChiTiet.kichCo.ten }}]
                      </td>
                      <td class="button-container">
                        <button class="btn p-0">
                          <span
                            class="icon minus-icon"
                            nz-icon
                            [nzType]="'minus-circle'"
                            [nzTheme]="'twotone'"
                            [nzTwotoneColor]="'#f6e559'"
                            (click)="minusQuantity(data.id)"
                          ></span>
                        </button>
                        <span class="data">{{ data.soLuong }}</span>
                        <button class="btn p-0">
                          <span
                            class="icon plus-icon"
                            nz-icon
                            [nzType]="'plus-circle'"
                            [nzTheme]="'twotone'"
                            [nzTwotoneColor]="'#95d240'"
                            (click)="plusQuantity(data.id)"
                          ></span>
                        </button>
                      </td>
                      <td>{{ data.giaBan | currency : "VND" }}</td>
                      <td style="font-weight: bold; color: #ff0000">
                        {{ data.soLuong * data.giaBan | currency : "VND" }}
                      </td>
                    </tr>
                  </tbody>
                </nz-table>
              </div>
            </div>
          </ng-container>
        </div>
        <div class="col col-md-4">
          <div class="card">
            <div class="card-header">
              <nz-divider
                style="color: #32ba7c; font-weight: bold"
                nzText="Thông Tin Hoàn Trả"
              ></nz-divider>
            </div>
            <div class="card-body">
              <nz-list nzBordered>
                <nz-list-item>
                  <span nz-typography>
                    <kbd
                      style="color: #080808; display: flex; align-items: center"
                    >
                      <i nz-icon nzType="user" style="margin-right: 5px"></i>
                      <strong> Tên người nhận: </strong>
                    </kbd>
                  </span>
                  <strong>{{
                    this.hoaDon.tenNguoiNhan ? this.hoaDon.tenNguoiNhan : " - "
                  }}</strong>
                </nz-list-item>
                <nz-list-item>
                  <span nz nz-typography>
                    <kbd
                      style="color: #080808; display: flex; align-items: center"
                    >
                      <i nz-icon nzType="phone" style="margin-right: 5px"></i>
                      <strong> Số điện thoại: </strong>
                    </kbd>
                  </span>
                  <strong
                    style="
                      max-width: 200px;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      white-space: nowrap;
                    "
                    >{{
                      this.hoaDon.sdtNguoiNhan
                        ? this.hoaDon.sdtNguoiNhan
                        : " - "
                    }}</strong
                  >
                </nz-list-item>
                <nz-list-item>
                  <span nz nz-typography>
                    <kbd
                      style="color: #080808; display: flex; align-items: center"
                    >
                      <i nz-icon nzType="phone" style="margin-right: 5px"></i>
                      <strong> Địa chỉ: </strong>
                    </kbd>
                  </span>
                  <strong
                    style="
                      max-width: 200px;
                      overflow: auto;
                      white-space: nowrap;
                    "
                  >
                    {{
                      this.hoaDon.diaChiNguoiNhan
                        ? this.hoaDon.diaChiNguoiNhan
                        : " - "
                    }}
                  </strong>
                </nz-list-item>
                <nz-list-item>
                  <span nz nz-typography>
                    <kbd
                      style="color: #080808; display: flex; align-items: center"
                    >
                      <i
                        nz-icon
                        nzType="money-collect"
                        style="margin-right: 5px"
                      ></i>
                      <strong>
                        Phiếu Giảm Giá:
                        <strong style="color: #32ba7c">{{
                          this.hoaDon.phieuGiamGia?.maPhieuGiamGia
                        }}</strong>
                      </strong>
                    </kbd>
                  </span>
                  <strong
                    style="
                      color: #f26100;
                      font-weight: bold;
                      max-width: 200px;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      white-space: nowrap;
                    "
                  >
                    {{ discountMoney | currency : "VND" }}
                  </strong>
                </nz-list-item>
                <nz-list-item>
                  <span nz nz-typography>
                    <kbd
                      style="color: #080808; display: flex; align-items: center"
                    >
                      <i
                        nz-icon
                        nzType="money-collect"
                        style="margin-right: 5px"
                      ></i>
                      <strong> Tổng tiền hoàn trả: </strong>
                    </kbd>
                  </span>
                  <strong
                    style="
                      color: #32ba7c;
                      font-weight: bold;
                      max-width: 200px;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      white-space: nowrap;
                    "
                  >
                    {{ amountOfMoneyReturn | currency : "VND" }}
                  </strong>
                </nz-list-item>
                <nz-list-item>
                  <div></div>
                  <button
                    nz-button
                    nzType="primary"
                    nzBlock
                    nzBlock
                    (click)="showModal()"
                  >
                    Trả Hàng
                  </button>
                  <div></div>
                </nz-list-item>
              </nz-list>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #noData>
  <nz-empty></nz-empty>
</ng-template>

<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Lý Do Trả Hàng"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
>
  <ng-container *nzModalContent>
    <nz-radio-group [(ngModel)]="radioValue">
      <label nz-radio nzValue="A">Sản phẩm không đúng như mô tả</label>
      <label nz-radio nzValue="B"
        >Sản phẩm không đúng kích cỡ hoặc màu sắc</label
      >
      <label nz-radio nzValue="C"
        >Sản phẩm bị lỗi (rách, mất cúc áo, cúc tay)</label
      >
      <label nz-radio nzValue="M">
        Khác...
        <input
          type="text"
          [(ngModel)]="moreText"
          nz-input
          *ngIf="radioValue === 'M'"
        />
      </label>
    </nz-radio-group>
  </ng-container>
</nz-modal>
