<app-main-heading
  [icon]="'icon ph ph-storefront'"
  [mainHeading]="'Trả Hàng'"
  [title]="'Trả Hàng'"
></app-main-heading>

<div class="row gutters">
  <div class="col col-md-12">
    <nz-result
      nzStatus="success"
      nzTitle="Trả Hàng Thành Công!"
      nzSubTitle="Bạn đừng quên thông báo khách hàng rằng là khách hàng sẽ nhận được Phiếu Giảm Giá của cửa hàng nhé"
    >
      <div nz-result-extra>
        <button nz-button>Về trang chủ</button>
      </div>
    </nz-result>
  </div>
</div>
