<!-- Row start -->
<div class="row gutters">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">Phiếu giảm giá</div>
      <div class="card-body">
        <table id="rowSelection_wrapper" class="table dataTables_wrapper dt-bootstrap4 no-footer">
          <div class="row">
            <div class="col-sm-12">
              <table id="rowSelection" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="rowSelection_info">
                <thead>
                <tr role="row">
                  <th class="sorting_asc" tabindex="0" aria-controls="rowSelection" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 103.088px;">Name</th>
                  <th class="sorting" tabindex="0" aria-controls="rowSelection" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 181.625px;">Position</th>
                  <th class="sorting" tabindex="0" aria-controls="rowSelection" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 71.475px;">Office</th>
                  <th class="sorting" tabindex="0" aria-controls="rowSelection" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 29.8625px;">Age</th>
                  <th class="sorting" tabindex="0" aria-controls="rowSelection" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 70.85px;">Start date</th>
                  <th class="sorting" tabindex="0" aria-controls="rowSelection" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 53.5px;">Salary</th>
                </tr>
                </thead>
                <tbody>

                <tr role="row" class="odd">
                  <td class="sorting_1">Airi Satou</td>
                  <td>
                    <button class="btn btn-success btn-rounded">Accountant</button>
                  </td>
                  <td>Tokyo</td>
                  <td>33</td>
                  <td>2008/11/28</td>
                  <td>$162,700</td>
                </tr>

                </tbody>
              </table>
            </div>
          </div>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- Row ends -->
