<section class="container">

    <div class="columns">
        <div class="column main"><input name="form_key" type="hidden" value="h439rDdQO2ep9GUo">
            <div id="authenticationPopup" data-bind="scope:'authenticationPopup', style: {display: 'none'}"
                style="display: none;"> <!-- ko template: getTemplate() -->


                <!-- /ko -->
            </div>
           
            <div class="orders-tracking-wrapper">
                <form class="form-orders-tracking" novalidate="novalidate">
                    <div class="fieldset">
                        <h1>Theo dõi đơn hàng</h1>
                        <legend class="legend"><span> Nhập thông tin để theo dõi đơn hàng của bạn</span></legend>
                        <div class="field required"><label class="label"><span> Mã đơn hàng không thành công:
                                </span></label>
                            <div class="control"><input type="text" class="input-text"
                                    placeholder="Mã đơn hàng" value="" ></div>
                        </div>
                        <div class="field required"><label class="label"><span> Số điện sthoại đặt hàng</span></label>
                            <div class="control required"><input type="tel" class="input-text mage-error"
                                 
                                    id="telephone-track-order" placeholder="Số điện thoại" value="" 
                                     >
                                <div class="mage-error"
                                    style="display: block; color: red;">Đây là trường bắt buộc.
                                </div>
                            </div>
                        </div>
                        <div class="actions-toolbar"><button type="submit" class="action submit primary"
                                id="submit-track-order"><span> Kiểm tra</span></button></div>
                    </div>
                </form>
                <div class="orders-tracking-results">
                    <div class="content-empty" style="display: block;"><svg width="32" height="32" viewBox="0 0 32 32"
                            fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M29.414 26.586L23.77 20.942C25.168 18.98 26 16.588 26 14C26 7.383 20.617 2 14 2C7.383 2 2 7.383 2 14C2 20.617 7.383 26 14 26C16.588 26 18.98 25.169 20.942 23.77L26.586 29.414C27.366 30.195 28.634 30.195 29.414 29.414C30.195 28.633 30.195 27.367 29.414 26.586ZM4 14C4 8.486 8.486 4 14 4C19.514 4 24 8.486 24 14C24 19.514 19.514 24 14 24C8.486 24 4 19.514 4 14Z"
                                fill="#A9A9A9"></path>
                            <path d="M13 20.659L6.606 17.919C6.238 17.761 6 17.399 6 17V10.625L13 13.657V20.659Z"
                                fill="#A9A9A9"></path>
                            <path
                                d="M7.03906 8.895L13.6061 6.081C13.8581 5.973 14.1421 5.973 14.3941 6.081L20.9981 8.911L14.0021 11.911L7.03906 8.895Z"
                                fill="#A9A9A9"></path>
                            <path d="M22 10.656V17C22 17.4 21.762 17.762 21.394 17.919L15 20.659V13.659L22 10.656Z"
                                fill="#A9A9A9"></path>
                        </svg></div>
                </div>
            </div>
            
   
           
   
            
           
        </div>
    </div>


</section>