<!-- Form start -->

{{ nhanVienDetails | json }}
<div class="row gutters">
  <div class="col-sm-12">
    <form class="card">
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                Họ tên
                <input
                  type="text"
                  class="form-control"
                  placeholder="Họ tên"
                  value=""
                  [disabled]="true"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                Ngày sinh
                <input
                  type="date"
                  class="form-control"
                  placeholder="Ngày sinh"
                  [disabled]="true"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                Số điện thoại
                <input
                  type="text"
                  class="form-control"
                  placeholder="Số điện thoại"
                  [disabled]="true"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label">Giới tính </label> <br />
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="exampleRadios"
                    value="option1"
                    checked
                  />
                  <label class="form-check-label"> Nam </label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="exampleRadios"
                    value="option2"
                  />
                  <label class="form-check-label"> Nữ </label>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                Email
                <input
                  type="email"
                  class="form-control"
                  placeholder="Email"
                  [disabled]="true"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                Địa chỉ
                <input
                  type="text"
                  class="form-control"
                  placeholder="Địa chỉ"
                  [disabled]="true"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                Tên đăng nhập
                <input
                  type="text"
                  class="form-control"
                  placeholder="Tên đăng nhập"
                  [disabled]="true"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                Mật khẩu
                <input
                  class="form-control"
                  placeholder="Mật khẩu"
                  [disabled]="true"
                />
              </div>
            </div>
          </div>
        </form>
      </div>
    </form>
  </div>
</div>
<!-- Form ends -->
