<section class="container">
  <!-- <div class="row">
    <ul  class="checkout-progress-bar">
      <li  class="checkout-progress-bar-item active">
        <span  class="step">1</span>
        <span >Giỏ hàng</span>
      </li>
      <li  class="checkout-progress-bar-item current">
        <span  class="step">2</span>
        <span >Đặt hàng</span>
      </li>
      <li  class="checkout-progress-bar-item">
        <span  class="step">3</span>
        <span >Hoàn tất</span>
      </li>
    </ul>
  </div> -->

  <div class="row">
    <div class="col-md-8">
      <div class="col-md-12">
        <div class="checkout-step checkout-shipping">
          <div>
            <div>
              <div class="checkout-step-title">
                <h2>Thông tin giao hàng</h2>
                <!-- Đăng nhập rồi thì hiện nút này -->
                <a class="edit pointer" (click)="toggleAddressesModal(true)"
                  >Thay đổi</a
                >
              </div>
              <div>
                <div class="checkout-step-content">
                  <div class="shipping-address-items">
                    <!-- khách hàng không đăng nhập -->
                    <div class="shipping-address-item">
                      <div class="addressNot">
                        <div class="wraperInfo">
                          <label class="mb-1">Họ tên:</label>
                          <input
                            type="text"
                            class="form-control"
                            [value]="loggedCust.hoTen"
                            disabled
                          />
                        </div>

                        <div class="wraperInfo">
                          <label class="mb-1">Số điện thoại:</label>
                          <input
                            type="text"
                            class="form-control"
                            [value]="loggedCust.sdt"
                            disabled
                          />
                        </div>

                        <div class="wraperInfo">
                          <label class="mb-1">Email:</label>
                          <input
                            type="text"
                            class="form-control"
                            [value]="loggedCust.email"
                            disabled
                          />
                        </div>

                        <div class="wraperInfo">
                          <label class="mb-1">Tỉnh/Thành phố:</label>
                          <input
                            type="text"
                            class="form-control"
                            [value]="defaultAddr?.tinh"
                            disabled
                          />
                        </div>

                        <div class="wraperInfo">
                          <label class="mb-1">Quận/Huyện:</label>
                          <input
                            type="text"
                            class="form-control"
                            [value]="defaultAddr?.huyen"
                            disabled
                          />
                        </div>

                        <div class="wraperInfo">
                          <label class="mb-1">Phường/Xã:</label>
                          <input
                            type="text"
                            class="form-control"
                            [value]="defaultAddr?.xa"
                            disabled
                          />
                        </div>

                        <div class="wraperInfo">
                          <label class="mb-1">Đường:</label>
                          <input
                            type="text"
                            class="form-control"
                            [value]="defaultAddr?.duong"
                            disabled
                          />
                        </div>
                      </div>
                    </div>

                    <!-- Modal: danh sách địa chỉ -->
                    <div
                      [ngClass]="
                        isAddressesModalOpen
                          ? 'modal-address modal in'
                          : 'modal-address modal'
                      "
                    >
                      <div class="modal-backdrop"></div>
                      <div class="modal-container">
                        <div class="modal-content">
                          <div class="modal-header">
                            <div
                              class="modal-close"
                              (click)="toggleAddressesModal(false)"
                            >
                              <span class="screen-reader-text">Close</span>
                            </div>
                            <h4 class="modal-title">Sổ địa chỉ</h4>
                          </div>
                          <div class="modal-body">
                            <div
                              class="modal-address-item"
                              *ngFor="let addr of addresses"
                            >
                              <div class="info">
                                <div class="address">
                                  {{ formatAddress(addr) }}
                                </div>
                                <div class="name-phone">
                                  <div class="name">{{ loggedCust.hoTen }}</div>
                                  <div class="line"></div>
                                  <div class="phone">{{ loggedCust.sdt }}</div>
                                </div>
                                <div class="address-type" *ngIf="addr.macDinh">
                                  <label class="label label-default"
                                    ><svg
                                      width="20"
                                      height="20"
                                      viewBox="0 0 20 20"
                                      fill="none"
                                      xmlns="http://www.w3.org/2000/svg"
                                    >
                                      <path
                                        d="M13.3337 11.1454C16.2768 11.724 18.3337 13.0456 18.3337 14.5833C18.3337 16.6544 14.6027 18.3333 10.0003 18.3333C5.39795 18.3333 1.66699 16.6544 1.66699 14.5833C1.66699 13.0456 3.72382 11.724 6.66699 11.1454M10.0003 14.1667V2.5L14.4318 5.22704C14.755 5.42595 14.9166 5.52541 14.9682 5.65071C15.0131 5.76 15.0096 5.88325 14.9584 5.98976C14.8997 6.11188 14.7326 6.20185 14.3984 6.38179L10.0003 8.75"
                                        stroke="#DA291C"
                                        stroke-width="1.2"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                      ></path>
                                    </svg>
                                    <span>Địa chỉ mặc định</span></label
                                  >
                                </div>
                              </div>
                              <div class="action-edit" *ngIf="!addr.macDinh">
                                <span (click)="setDefaultAddress(addr.id)"
                                  >Đặt</span
                                >
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button
                              class="btn btn-primary"
                              (click)="toggleAddAddressModal(true)"
                            >
                              Thêm địa chỉ
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Modal: Thêm địa chỉ -->
                    <div
                      [ngClass]="
                        isAddAddressModalOpen
                          ? 'modal-new-address modal in'
                          : 'modal-new-address modal'
                      "
                    >
                      <div class="modal-backdrop"></div>
                      <div class="modal-container">
                        <div class="modal-content">
                          <div class="modal-header mb-3">
                            <div
                              class="modal-close"
                              (click)="toggleAddAddressModal(false)"
                            >
                              <span class="screen-reader-text">close</span>
                            </div>
                            <h4 class="modal-title">Thêm địa chỉ</h4>
                          </div>
                          <div class="checkout-shipping">
                            <form [formGroup]="addAddressForm">
                              <div class="checkout-shipping-form">
                                <!-- <div class="row">
                                <div class="form-group col-sm-6">
                                  <label for="name">Họ tên</label>
                                  <input
                                    type="text"
                                    name=""
                                    id="name"
                                    class="form-control"
                                  />
                                </div>
                                <div class="form-group col-sm-6">
                                  <label for="phone">Số điện thoại</label>
                                  <input
                                    type="text"
                                    name=""
                                    id="phone"
                                    class="form-control"
                                  />
                                </div>
                              </div> -->

                                <!-- Tỉnh/Thành phố -->
                                <div class="row">
                                  <div class="form-group col-sm-6 mb-3">
                                    <label class="mb-1">Tỉnh/Thành phố:</label>
                                    <select
                                      name="state"
                                      class="form-control"
                                      (change)="getAllDistrictsByProvince()"
                                      formControlName="tinh"
                                    >
                                      <option value="">
                                        Chọn Tỉnh/Thành phố
                                      </option>
                                      <option
                                        *ngFor="let p of provinces"
                                        [value]="p.ProvinceName"
                                      >
                                        {{ p.ProvinceName }}
                                      </option>
                                    </select>
                                  </div>

                                  <div class="form-group col-sm-6 mb-3">
                                    <label class="mb-1">Quận/Huyện:</label>
                                    <select
                                      class="form-control"
                                      (change)="getAllWardsByDistrict()"
                                      formControlName="huyen"
                                      (click)="checkProvinceSelection()"
                                    >
                                      <option value="" selected>
                                        Chọn quận huyện
                                      </option>
                                      <option
                                        *ngFor="let d of districts"
                                        value="{{ d.DistrictName }}"
                                      >
                                        {{ d.DistrictName }}
                                      </option>
                                    </select>
                                  </div>
                                </div>

                                <div class="form-group mb-3">
                                  <label class="mb-1">Phường/Xã:</label>
                                  <select
                                    class="form-control"
                                    formControlName="xa"
                                    (click)="checkDistrictSelection()"
                                  >
                                    <option value="" selected>
                                      Chọn phường xã
                                    </option>
                                    <option
                                      *ngFor="let w of wards"
                                      [value]="w.WardName"
                                    >
                                      {{ w.WardName }}
                                    </option>
                                  </select>
                                </div>

                                <div class="form-group mb-3">
                                  <label class="mb-1"
                                    >Số nhà - Đường/Địa chỉ chi tiết:</label
                                  >
                                  <input
                                    type="text"
                                    class="form-control"
                                    formControlName="duong"
                                  />
                                </div>

                                <div class="form-checkbox mt-3">
                                  <input
                                    type="checkbox"
                                    formControlName="macDinh"
                                  />
                                  <label
                                    ><span
                                      >Đặt làm địa chỉ mặc định</span
                                    ></label
                                  >
                                </div>
                                <div class="button">
                                  <button
                                    class="btn-save"
                                    (click)="addAddress()"
                                  >
                                    Thêm
                                  </button>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Phương thức thanh toán -->
      <div class="col-md-12">
        <div class="checkout-step checkout-payment-method" isactive="true">
          <div class="checkout-step-title">
            <h2>Phương thức thanh toán</h2>
          </div>
          <div class="checkout-step-content">
            <div class="checkout-payment-method-section">
              <label for="cashondelivery"
                ><input
                  id="cashondelivery"
                  type="radio"
                  value="cashondelivery"
                  name="thanhToan" />
                <span
                  ><b>Thanh toán khi nhận hàng (COD)</b>
                  <img src="https://canifa.com/assets/images/cod.svg" /></span
              ></label>
            </div>
            <div class="checkout-payment-method-section">
              <label for="vnpay"
                ><input
                  id="vnpay"
                  type="radio"
                  value="vnpay"
                  name="thanhToan" />
                <span
                  ><b>Thanh toán bằng VNPAY</b>
                  <img src="https://canifa.com/assets/images/vnpay.svg" /></span
              ></label>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="checkout-step checkout-review">
          <div class="checkout-step-title">
            <h2>Sản phẩm ({{ cartItemQuantity2 }})</h2>
          </div>
          <div
            class="checkout-step-content"
            style="height: 500px; overflow-y: auto"
          >
            <table class="checkout-cart-items">
              <tbody>
                <tr class="cart-item" *ngFor="let item of cartItems2">
                  <td data-th="Sản phẩm" class="col item">
                    <div class="cart-item-info">
                      <div class="cart-item-photo">
                        <a
                          class="cart-image-container"
                          [routerLink]="'/san-pham/' + item.spct.sanPham.id"
                          ><img
                            class="rounded"
                            [src]="item.spct.hinhAnhs[0].imageUrl"
                        /></a>
                      </div>
                      <div class="cart-item-details">
                        <strong class="cart-item-name"
                          ><a
                            [routerLink]="'/san-pham/' + item.spct.sanPham.id"
                            class="cart-image-container"
                          >
                            {{ item.spct.sanPham.ten }}
                          </a></strong
                        >
                        <div class="cart-item-options">
                          <div class="cart-item-option">
                            Màu:
                            <img
                              class="ms-1"
                              [src]="item.spct.mauSac.image.imageUrl"
                              style="
                                height: 20px;
                                width: 20px;
                                border-radius: 50%;
                              "
                            />
                          </div>
                          <div class="cart-item-option">
                            <span
                              ><span class="swatch-option text"
                                >Size:
                                {{ item.spct.kichCo.ten.split("-")[0] }}</span
                              ></span
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td data-th="Giá tiền" class="col price">
                    <span class="price"
                      >Đơn giá: {{ formatPrice(item.spct.giaBan) }}</span
                    >
                  </td>
                  <td data-th="Số lượng" class="col qty">
                    <span>Số lượng : {{ item.soLuong }}</span>
                  </td>
                  <td data-th="Số lượng" class="col qty">
                    <span>
                      {{ formatPrice(item.spct.giaBan * item.soLuong) }}</span
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Bên phải -->
    <div class="col-md-4">
      <div class="col-md-12">
        <div data-v-836166ae="" class="checkout-step checkout-coupon-wrapper">
          <div data-v-836166ae="">
            <div class="checkout-coupon">
              <div class="checkout-step-title">
                <h2>Mã ưu đãi</h2>
                <div class="action-show" (click)="toggleDiscountsModal(true)">
                  <span>Thay đổi mã giảm giá</span>
                </div>
              </div>
              <div class="checkout-step-content">
                <div class="coupon-list slick-slider slick-initialized mb-3">
                  <div class="slick-list">
                    <div
                      class="slick-track"
                      style="
                        opacity: 1;
                        transform: translate3d(0px, 0px, 0px);
                        width: 349px;
                      "
                    >
                      <div
                        class="slick-slide slick-active slick-current"
                        style="outline: none"
                      >
                        <div>
                          <div
                            class="item"
                            style="width: 100%; display: inline-block"
                          >
                            <div class="coupon">
                              {{ selectedDiscount?.tenPhieuGiamGia }}
                            </div>
                            <div class="des">
                              {{ getDiscountTitle(selectedDiscount) }}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="checkBestDiscount() && this.discounts.length > 1">
                  <i class="text-danger"
                    >* Đang áp dụng mã giảm giá tốt nhất bạn đang có!</i
                  >
                </div>
                <div *ngIf="!checkBestDiscount() && this.discounts.length > 1">
                  <i class="text-danger"
                    >* Bạn chưa sử dụng mã tốt nhất đang có đang có!</i
                  >
                </div>
                <div *ngIf="this.discounts.length === 1">
                  <i class="text-danger">* Mã giảm giá duy nhất bạn đang có!</i>
                </div>

                <div
                  [ngClass]="
                    isDiscountModalOpen
                      ? 'modal modal-coupon active in'
                      : 'modal modal-coupon active'
                  "
                >
                  <div class="modal-backdrop"></div>
                  <div class="modal-container">
                    <div class="modal-content">
                      <div class="modal-header">
                        <div
                          class="modal-close"
                          (click)="toggleDiscountsModal(false)"
                        >
                          <span class="screen-reader-text">close</span>
                        </div>
                        <h4 class="modal-title">Mã ưu đãi</h4>
                      </div>
                      <div class="modal-body">
                        <!-- <div class="checkout-coupon-form">
                          <div class="checkout-coupon-form-group">
                            <div class="control">
                              <input
                                type="text"
                                name="promoCode"
                                placeholder="Nhập mã ưu đãi"
                                class="form-control"
                              />
                            </div>
                            <button
                              disabled="disabled"
                              class="btn-add-coupon btn-add"
                            >
                              Sử dụng
                            </button>
                          </div>
                        </div> -->
                        <div class="voucher-items">
                          <div
                            [ngClass]="
                              d.isSelected
                                ? 'voucher-item active'
                                : 'voucher-item'
                            "
                            [title]="
                              !d.isSelected ? 'Chọn mã này' : 'Đang sử dụng'
                            "
                            (click)="changeDiscount(d.id)"
                            *ngFor="let d of discounts"
                          >
                            <div class="voucher-item-info">
                              <div class="voucher-item-detail">
                                <div class="voucher-item-title">
                                  {{ getDiscountTitle(d) }}
                                </div>
                                <div class="voucher-item-code">
                                  {{ d?.tenPhieuGiamGia }}
                                </div>
                                <div class="voucher-item-date">
                                  HSD: {{ d.thoiGianKetThuc }}
                                </div>
                              </div>
                              <div class="voucher-item-action">
                                <div class="action">
                                  <span>Sử dụng</span>
                                </div>
                              </div>
                            </div>
                            <!-- <div class="voucher-item-error">
                              Mã giảm giá không đúng hoặc không thỏa mãn điều
                              kiện chương trình, vui lòng kiểm tra lại..
                            </div> -->
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button
                          class="btn btn-primary"
                          (click)="toggleDiscountsModal(false)"
                        >
                          Tiếp tục
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="checkout-step checkout-summary">
          <div>
            <div class="checkout-step-title1 mb-3">
              <h2>Chi tiết đơn hàng</h2>
            </div>
            <div class="checkout-totals">
              <table>
                <tbody>
                  <tr>
                    <th>Giá trị đơn hàng</th>
                    <td>{{ formatPrice(realPrice) }}</td>
                  </tr>
                  <tr>
                    <th>Số tiền giảm từ đợt</th>
                    <td>{{ formatPrice(salePrice) }}</td>
                  </tr>
                  <tr>
                    <th>Số tiền giảm từ mã</th>
                    <td>{{ formatPrice(discountPrice) }}</td>
                  </tr>
                  <tr>
                    <th>Phí vận chuyển</th>
                    <td>{{ formatPrice(shipPrice) }}</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr class="grand-totals">
                    <th>Tổng tiền thanh toán</th>
                    <td>{{ formatPrice(finalPrice) }}</td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
          <div class="checkout-proceed-checkout">
            <button class="btn-place-order rounded" (click)="checkOut()">
              Thanh toán
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
