<div class="main-heading">
  <div class="container-fluid">
    <div class=" headerNewe">
      <div>
        <div class="page-icon">
          <i [className]="icon"></i>
        </div>
        <div class="page-title">
          <h5>{{ title }}</h5>
          <h6 class="sub-heading">
            Chào Mừng Bạn - BeeShirt Admin {{ mainHeading }}
          </h6>
        </div>
      </div>

      <div class="iconnav">
        <i class="iconThongBao fa-solid fa-bell"></i>
        <span class="quantity1">0</span>


        <div class="popUpThongBao">
          <div>
            <div class="headerPopup">
              <span style="color: black; font-weight: bold">Thông Báo</span>
            </div> 

            <div class="container-noti">
              <a class="notification notification-flush notification-unread">
                <div class="notification-avatar">
                  <div class="avatar avatar-2xl mr-3">
                    <div class="avatar-name rounded-circle">
                      <span>BEE</span>
                    </div>
                  </div>
                </div>
                <div class="notification-body">
                  <p class="mb-1">
                    <a class="notif-link">Alo 1 2 2</a>
                  </p>
                  <span class="notification-time"><span class="mr-1" role="img" aria-label="Emoji">💬</span>Vừa
                    xong</span>
                </div>
                <div>
                  <div class="trangThai"></div>
                </div>
              </a>

              <a class="notification notification-flush notification-unread">
                <div class="notification-avatar">
                  <div class="avatar avatar-2xl mr-3">
                    <div class="avatar-name rounded-circle">
                      <span>BEE</span>
                    </div>
                  </div>
                </div>
                <div class="notification-body">
                  <p class="mb-1">
                    <a class="notif-link">Alo 1 2 2</a>
                  </p>
                  <span class="notification-time"><span class="mr-1" role="img" aria-label="Emoji">💬</span>Vừa
                    xong</span>
                </div>
                <div>
                  <div class="trangThai"></div>
                </div>
              </a>

              <a class="notification notification-flush notification-unread">
                <div class="notification-avatar">
                  <div class="avatar avatar-2xl mr-3">
                    <div class="avatar-name rounded-circle">
                      <span>BEE</span>
                    </div>
                  </div>
                </div>
                <div class="notification-body">
                  <p class="mb-1">
                    <a class="notif-link">Alo 1 2 2</a>
                  </p>
                  <span class="notification-time"><span class="mr-1" role="img" aria-label="Emoji">💬</span>Vừa
                    xong</span>
                </div>
                <div>
                  <div class="trangThai"></div>
                </div>
              </a>


              <a class="notification notification-flush notification-unread">
                <div class="notification-avatar">
                  <div class="avatar avatar-2xl mr-3">
                    <div class="avatar-name rounded-circle">
                      <span>BEE</span>
                    </div>
                  </div>
                </div>
                <div class="notification-body">
                  <p class="mb-1">
                    <a class="notif-link">Alo 1 2 2</a>
                  </p>
                  <span class="notification-time"><span class="mr-1" role="img" aria-label="Emoji">💬</span>Vừa
                    xong</span>
                </div>
                <div>
                  <div class="trangThai"></div>
                </div>
              </a>


              <a class="notification notification-flush notification-unread">
                <div class="notification-avatar">
                  <div class="avatar avatar-2xl mr-3">
                    <div class="avatar-name rounded-circle">
                      <span>BEE</span>
                    </div>
                  </div>
                </div>
                <div class="notification-body">
                  <p class="mb-1">
                    <a class="notif-link">Alo 1 2 2</a>
                  </p>
                  <span class="notification-time"><span class="mr-1" role="img" aria-label="Emoji">💬</span>Vừa
                    xong</span>
                </div>
                <div>
                  <div class="trangThai"></div>
                </div>
              </a>

              <a class="notification notification-flush notification-unread">
                <div class="notification-avatar">
                  <div class="avatar avatar-2xl mr-3">
                    <div class="avatar-name rounded-circle">
                      <span>BEE</span>
                    </div>
                  </div>
                </div>
                <div class="notification-body">
                  <p class="mb-1">
                    <a class="notif-link">Alo 1 2 2</a>
                  </p>
                  <span class="notification-time"><span class="mr-1" role="img" aria-label="Emoji">💬</span>Vừa
                    xong</span>
                </div>
                <div>
                  <div class="trangThai"></div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>