<div class="main-header">
  <header class="container">
    <div class="logo">
      <img src="https://i.imgur.com/XlMdwHa.png" alt="" />
    </div>
   
    
    <label for="nav_check" class="hamburger">
      <div></div>
      <div></div>
      <div></div>
    </label>
  </header>

</div>

<div class="header-botton">
  <input type="checkbox" id="nav_check" hidden />

  <nav class="mainNav">
    <div class="logo">
      <img src="https://i.imgur.com/XlMdwHa.png" alt="" />
    </div>

    <ul>
      <li>
        <a href="" class="active">Trang Chủ</a>
      </li>
      <li>
        <a href="">Sản Phẩm</a>
      </li>
      <li>
        <a href="">Áo Nam</a>
      </li>
      <li>
        <a href="">Về Chúng Tôi</a>
      </li>
      <li>
        <a href="">Liên Hệ</a>
      </li>
    </ul>
  </nav>

  

</div>