<div id="site-header-center" class="header-top" style="background-color: rgb(0, 0, 0); padding: 10px;">
  <div class="container navigation ">
    <div class="col-md-2">
      <a class="navbar-brand" href="#!">
        <img src="https://i.imgur.com/XlMdwHa.png" alt="alo" style="width: 130px" />
        <!-- Thiết lập chiều rộng của hình ảnh là 10% chiều rộng của viewport -->
      </a>
    </div>

    <div class="search col-md-6">
      <input type="text" name="" class="formSearch" placeholder="Bạn đang tìm gì..." />
    </div>

    
      <div class="col-md-1">
        <span class="box-icon">
          <img width="24" height="24" src="//theme.hstatic.net/1000253775/1001179812/14/user-account.svg?v=314"
            alt="Tài khoản">
        </span>
        <span class="box-text hidden-xs">
          <span class="small-text">
            Đăng nhập
            <i class="fa fa-angle-down" aria-hidden="true"></i>
          </span>
         
        </span>
      </div>


      <div  class="col-md-1">
        <span class="box-icon">
          <img width="24" height="24" src="//theme.hstatic.net/1000253775/1001179812/14/shopping-cart.svg?v=314"
            alt="Hệ thống cửa hàng" />
          <span class="js-number-cart number-cart">0</span>
        </span>
        <span class="box-text hidden-xs"> Giỏ hàng </span>
      </div>
  
  </div>
</div>