<div class="main-header">
  <div id="topbar">
    <div class="marquee-topbar">
      <div class="item animation">
        <p><strong>🚛 FREESHIP MỌI ĐƠN TỪ 399K</strong></p>
      </div>
      <div class="item">
        <p><strong>VOUCHER 10K CHO ĐƠN 99K</strong></p>
      </div>

      <div class="item">
        <p><strong>VOUCHER 50K CHO ĐƠN 799K</strong></p>
      </div>
    </div>
  </div>

  <div class="navMain1">
    <header class="container">

      <label for="nav_check" class="hamburger">
        <div></div>
        <div></div>
        <div></div>
      </label>

      <div class="logo">
        <img src="https://i.imgur.com/XlMdwHa.png" alt="" />
      </div>

      <div class="site_search search-desktop">
        <form action="/search" class="wanda-mxm-search">
          <div class="search-inner">
            <input name="q" autocomplete="off" class="searchinput input-search search-input" type="text" size="20"
              placeholder="Bạn đang tìm gì..." aria-label="Search">
          </div>
          <button type="submit" class="btn-search" aria-label="Tìm kiếm">
            <img width="24" height="24" src="//theme.hstatic.net/1000253775/1001202500/14/search-icon.svg?v=4926"
              alt="Tìm kiếm">
          </button>
        </form>

      </div>

      <div class="nav-account">

        <div class="account d-flex">
          <i class="bi bi-person"></i>
          <span class="taiKhoan">Đăng nhập<span class="small-text">Đăng ký</span></span>
        </div>

        <div>
          <i class="bi bi-cart2"></i>
          <span class="gioHang">Giỏ Hàng</span>

        </div>


      </div>




    </header>
  </div>



</div>

<div class="header-botton">
  <input type="checkbox" id="nav_check" hidden />

  <nav class="mainNav">
    <div class="logo">
      <img src="https://i.imgur.com/XlMdwHa.png" alt="" />
    </div>

    <ul style="margin: 0;">
      <li>
        <a href="">Trang Chủ</a>
      </li>
      <li>
        <a href="">Sản Phẩm</a>
        <span class="header_new">New</span>
      </li>
      <li>
        <a href="">Áo Nam</a>
      </li>
      <li>
        <a href="">Về Chúng Tôi</a>
      </li>
      <li>
        <a href="">Liên Hệ</a>
      </li>
    </ul>
  </nav>



</div>