
img{
  width: 100%;
}
.main-header{
  background: black;
}

header{
  
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
 
 
  color: white;
}
.logo img{
  width: 120px;
}

nav .logo{
  display: none;
}



nav ul{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
 
}

nav ul li a{
  color: #000000;
  display: block;
  margin: 0 2px ;
  font-weight: 600;
  padding: 8px 18px;
  transition: 0.2s;
  border-radius: 30px;
  text-decoration: none;


}

nav ul li a:hover{
  background: #f6f4ff;
  color: #000000;
}

nav ul li a.active{
  background: #675cff;
  color:#fff ;
}

.hamburger{
  display: none;
  height: fit-content;
  cursor: pointer;
  padding: 3px 8px;
  border-radius: 5px;
  transform: 0.2s;
}


.hamburger div{
  width: 30px;
  height: 2px;
  margin: 6px 0;
  background:#ffffff ;
}

@media only screen and (max-width:1100px) {
  header{
      width: 90%;
     
  }
  nav{
      position: absolute;
      left: -300px;
      top: 0;
      z-index: 999;
      width: 280px;
      height: 100vh;
      background-color: #000000;
      transition: 0.2s;
      box-shadow: 2px 0 20px 0 rgba(0,0,0,0.05);
  }

  #nav_check:checked ~ nav{
left: 0;
  }

  nav .logo{
      display: block;
      height: 70px;
      display: flex;
      align-items: center;
      margin-left: 30px;
  }
  nav ul li a{
    color: white;
      margin-bottom: 5px ;
      padding: 10px 15px;
      border-radius: 5px;
  }
  nav ul{
      display: block;
      padding: 0 20px;
      margin-top: 30px;
  }
  .hamburger{
      display: block;
  }
  
}


