<div class="container">
  <div class="login-screen row align-items-center">
    <div class="col-sm-12">
      <form action="index.html">
        <div class="login-container">
          <div class="row no-gutters">
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <div class="login-box">
                <a href="#" class="login-logo">
                  <img src="img/logo.svg" alt="AI Admin Dashboard" />
                </a>
                <div class="input-group mb-2">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Username"
                    aria-label="username"
                    aria-describedby="username"
                  />
                </div>
                <div class="input-group mb-2">
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Password"
                    aria-label="Password"
                    aria-describedby="Password"
                  />
                </div>
                <div class="actions clearfix">
                  <a href="forgot-pwd.html">Lost password?</a>
                  <button type="submit" class="btn btn-primary">Login</button>
                </div>
                <div class="or"></div>
                <div class="mt-4">
                  <a href="signup.html" class="additional-link"
                    >Don't have an Account? <span>Create Now</span></a
                  >
                </div>
              </div>
            </div>
            <div class="col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <div class="login-slider"></div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
