<div class="info">
  <div class="imgCustomer">
    <img src="https://i.imgur.com/uVZbUxh.jpeg" />
  </div>
</div>

<div class="nameCustomer">
  <div>
    <span>Phạm Văn Bình</span>
    <a href="profile/my-account/"><i class="bi bi-pencil-square"></i></a>
  </div>
</div>

<div class="chiTieu">
  <div>Số tiền đã mua:</div>
  <div class="daMua">0</div>
  <div>Số sản phẩm:</div>
  <div class="spDaMua">0</div>
</div>

<ul class="listChucNang">
  <li class="itemChucNang">
    <i class="bi bi-credit-card-2-back"></i>
    <a href="">Mã ưu đãi</a>
  </li>
  <li class="itemChucNang">
    <i class="bi bi-box-seam"></i>
    <a href="profile/my-order">Đơn Hàng</a>
  </li>
  <li class="itemChucNang">
    <i class="bi bi-geo-alt"></i>
    <a href="profile/my-addresses">Sổ địa chỉ</a>
  </li>
  <li class="itemChucNang">
    <i class="bi bi-heart"></i>
    <a href="">Yêu thích</a>
  </li>
  <li class="itemChucNang">
    <i class="bi bi-box-arrow-right"></i>
    <a href="">Đăng xuất</a>
  </li>
</ul>
