<div class="info">
  <div class="imgCustomer">
    <img [src]="loggedCust.image.imageUrl" />
  </div>
</div>

<div class="nameCustomer">
  <div>
    <span>{{ loggedCust.hoTen }}</span>
    <a href="profile/my-account/"><i class="bi bi-pencil-square"></i></a>
  </div>
</div>

<!-- <div class="chiTieu">
  <div>Số tiền đã mua:</div>
  <div class="daMua">0</div>
  <div>Số sản phẩm:</div>
  <div class="spDaMua">0</div>
</div> -->

<ul class="listChucNang">
  <li
    class="itemChucNang pointer rounded"
    routerLink="/profile/my-account"
    routerLinkActive="active"
  >
    <i class="bi bi-credit-card-2-back"></i>
    Thông tin tài khoản
  </li>
  <li
    class="itemChucNang pointer rounded"
    routerLink="/profile/my-discounts"
    routerLinkActive="active"
  >
    <i class="bi bi-credit-card-2-back"></i>
    Mã ưu đãi của tôi
  </li>
  <li
    class="itemChucNang pointer rounded"
    routerLink="/profile/my-orders"
    routerLinkActive="active"
  >
    <i class="bi bi-box-seam"></i>
    Đơn hàng của tôi
  </li>
  <li
    class="itemChucNang pointer rounded"
    routerLink="/profile/my-addresses"
    routerLinkActive="active"
  >
    <i class="bi bi-geo-alt"></i>
    Sổ địa chỉ
  </li>
  <li class="itemChucNang">
    <i class="bi bi-shield-lock"></i>
    Đổi mật khẩu
  </li>
</ul>
