<div class="card mt-5">
  <div class="card-header">
    <strong>Tìm Kiếm Hoá Đơn</strong>
  </div>
  <div class="card-body">
    <div class="row justify-content-center">
      <div class="d-flex col-md-8 justify-content-center">
        <div class="input-group-prepend">
          <strong class="input-group-text">Mã Hoá Đơn</strong>
        </div>
        <nz-input-group [nzSuffix]="inputClearTpl">
          <input
            type="text"
            nz-input
            placeholder="Mã hoá đơn....."
            [(ngModel)]="maHoaDon"
            width="500"
          />
        </nz-input-group>
        <button class="btn btn-primary rounded ml-2" (click)="submitForm()">
          <i class="fa-solid fa-magnifying-glass fa-2xl"></i>
        </button>
        <button class="btn btn-primary rounded ml-2">Quét Mã QR</button>
      </div>
    </div>
  </div>
</div>

<ng-template #inputClearTpl>
  <span
    nz-icon
    class="ant-input-clear-icon"
    nzTheme="fill"
    nzType="close-circle"
    (click)="maHoaDon = null"
  ></span>
</ng-template>
