<div class="row gutters pt-2">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h3 class="mb-2">Thêm Sản Phẩm Chi Tiết</h3>
      </div>
      <div class="card-body">
        <h4 class="text-center mt-2">Thông tin sản phẩm</h4>
        <form
          class="form border border-secondary p-2 rounded mb-5"
          [formGroup]="addForm"
        >
          <input type="hidden" formControlName="sanPhamId" />
          <!-- tên sản phẩm -->
          <div class="mb-3">
            <label class="form-label">Sản phẩm:</label>
            <input
              type="email"
              class="form-control"
              placeholder="name@example.com"
              [value]="sanPham?.ten + ' - ' + sanPham?.ma"
              disabled
            />
          </div>

          <div class="row">
            <!-- kiểu dáng -->
            <div class="col-6 mb-3">
              <label class="form-label">Kiểu dáng:</label>
              <div class="row">
                <input
                  class="form-control rounded col-8 ms-3 me-2"
                  list="kieuDangList"
                  type="text"
                  (input)="selectThuocTinh($event, kieuDangList, 'kieuDangId')"
                />
                <datalist id="kieuDangList">
                  <option
                    *ngFor="let kd of kieuDangList"
                    [value]="kd.ten"
                  ></option>
                </datalist>
                <button
                  class="btn btn-primary rounded col-2"
                  (click)="
                    changeNameAndServiceForThuocTinh(
                      'dáng áo',
                      'kieuDangService'
                    )
                  "
                  data-bs-toggle="modal"
                  data-bs-target="#addNhanhForm"
                >
                  <i class="fa-solid fa-plus"></i>
                </button>
              </div>
            </div>

            <!-- kiểu thiết kế -->
            <div class="col-6 mb-3">
              <label class="form-label">Kiểu thiết kế:</label>
              <div class="row">
                <input
                  class="form-control rounded col-8 ms-3 me-2"
                  list="thietKeList"
                  type="text"
                  (input)="
                    selectThuocTinh($event, kieuThietKeList, 'thietKeId')
                  "
                />
                <datalist id="thietKeList">
                  <option
                    *ngFor="let tk of kieuThietKeList"
                    [value]="tk.ten"
                  ></option>
                </datalist>
                <button
                  class="btn btn-primary rounded col-2"
                  (click)="
                    changeNameAndServiceForThuocTinh(
                      'kiểu thiết kế',
                      'kieuThietKeService'
                    )
                  "
                  data-bs-toggle="modal"
                  data-bs-target="#addNhanhForm"
                >
                  <i class="fa-solid fa-plus"></i>
                </button>
              </div>
            </div>

            <!-- tay áo -->
            <div class="col-6 mb-3">
              <label class="form-label">Kiểu tay áo:</label>
              <div class="row">
                <input
                  class="form-control rounded col-8 ms-3 me-2"
                  list="tayAoList"
                  type="text"
                  (input)="selectThuocTinh($event, tayAoList, 'tayAoId')"
                />
                <datalist id="tayAoList">
                  <option
                    *ngFor="let ta of tayAoList"
                    [value]="ta.ten"
                  ></option>
                </datalist>
                <button
                  class="btn btn-primary rounded col-2"
                  (click)="
                    changeNameAndServiceForThuocTinh(
                      'kiểu tay áo',
                      'kieuTayAoService'
                    )
                  "
                  data-bs-toggle="modal"
                  data-bs-target="#addNhanhForm"
                >
                  <i class="fa-solid fa-plus"></i>
                </button>
              </div>
            </div>

            <!-- cổ áo -->
            <div class="col-6 mb-3">
              <label class="form-label">Kiểu cổ áo:</label>
              <div class="row">
                <input
                  class="form-control rounded col-8 ms-3 me-2"
                  list="coAoList"
                  type="text"
                  (input)="selectThuocTinh($event, coAoList, 'coAoId')"
                />
                <datalist id="coAoList">
                  <option *ngFor="let ca of coAoList" [value]="ca.ten"></option>
                </datalist>
                <button
                  class="btn btn-primary rounded col-2"
                  (click)="
                    changeNameAndServiceForThuocTinh(
                      'kiểu cổ áo',
                      'kieuCoAoService'
                    )
                  "
                  data-bs-toggle="modal"
                  data-bs-target="#addNhanhForm"
                >
                  <i class="fa-solid fa-plus"></i>
                </button>
              </div>
            </div>

            <!-- chất liệu -->
            <div class="col-12 mb-3">
              <label class="form-label">Chất liệu:</label>
              <div class="row">
                <input
                  class="form-control rounded col-9 ms-3 me-2"
                  list="chatLieuList"
                  type="text"
                  (input)="selectThuocTinh($event, chatLieuList, 'chatLieuId')"
                />
                <datalist id="chatLieuList">
                  <option
                    *ngFor="let cl of chatLieuList"
                    [value]="cl.ten"
                  ></option>
                </datalist>
                <button
                  class="btn btn-primary rounded col-2"
                  (click)="
                    changeNameAndServiceForThuocTinh(
                      'chất liệu',
                      'chatLieuService'
                    )
                  "
                  data-bs-toggle="modal"
                  data-bs-target="#addNhanhForm"
                >
                  <i class="fa-solid fa-plus"></i>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h4 class="text-center mt-2">Chọn Màu sắc & Kích cỡ</h4>
        <form class="form p-2 mb-5">
          <!-- mau sac -->
          <div>
            <label class="me-3">Màu sắc:</label>
            <div
              style="display: inline-block"
              *ngFor="let sc of selectedMauSacList"
            >
              <div class="img-container me-5">
                <img class="selected-color-img" [src]="sc.image.imageUrl" />
                <div class="close-icon" (click)="removeSelectedColor(sc.id)">
                  &#10006;
                </div>
              </div>
            </div>
            <button
              type="button btn-primary"
              class="btn btn-primary ms-3 rounded"
              data-bs-toggle="modal"
              data-bs-target="#mauSacBoard"
              (click)="getMauSacList()"
            >
              <i class="fa-solid fa-plus"></i>
            </button>
          </div>

          <!-- kich co -->
          <div class="mt-3">
            <label class="me-3">Kích cỡ:</label>
            <div
              style="display: inline-block"
              *ngFor="let ss of selectedKichCoList"
            >
              <div class="frame-container me-5">
                <div class="content">{{ ss.ten.split(" ")[0] }}</div>
                <div class="close-icon" (click)="removeSelectedSize(ss.id)">
                  &#10006;
                </div>
              </div>
            </div>
            <button
              type="button btn-primary"
              class="btn btn-primary ms-3 mb-3 rounded"
              data-bs-toggle="modal"
              data-bs-target="#kichCoBoard"
              (click)="getKichCoList()"
            >
              <i class="fa-solid fa-plus"></i>
            </button>
          </div>
        </form>
      </div>
    </div>

    <div *ngIf="selectedKichCoList.length > 0">
      <div
        class="card"
        *ngFor="let sc of selectedMauSacList; let colorIndex = index"
      >
        <div class="card-header">
          <div class="row my-3">
            <h4 class="col-10">Danh sách sản phẩm màu {{ sc.ten }}</h4>
            <div class="col-2">
              <button
                [id]="'chinhSuaBtn' + colorIndex"
                class="btn btn-primary rounded"
                *ngIf="toggleUpdateFieldBtn(sc.id)"
                data-bs-toggle="modal"
                data-bs-target="#updateModal"
                (click)="assignChinhSuaBtnId(sc.id)"
              >
                <i class="fa-regular fa-pen-to-square me-2"></i>Chỉnh sửa
              </button>
            </div>
          </div>
          <!--  -->
          <div class="row">
            <table class="table col-8">
              <thead>
                <tr>
                  <th width="5%">
                    <input
                      [id]="'ckBoxAll' + sc.id"
                      [class]="'ckBoxColor' + sc.id"
                      type="checkbox"
                      (click)="selectAllRows1Color(sc.id)"
                    />
                  </th>
                  <th width="30%">Sản phẩm</th>
                  <th width="10%">Kích cỡ</th>
                  <th width="15%">Giá nhập</th>
                  <th width="15%">Giá bán</th>
                  <th width="15%">Số lượng</th>
                  <th width="5%">Xóa</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let ss of selectedKichCoList"
                  [id]="'row' + sc.id + ss.id"
                >
                  <input
                    [id]="'mauSacId' + sc.id"
                    [class]="'mauSacId' + sc.id"
                    [value]="sc.id"
                    type="hidden"
                  />
                  <input
                    [id]="'kichCoId' + ss.id"
                    [class]="'kichCoId' + sc.id"
                    [value]="ss.id"
                    type="hidden"
                  />
                  <td>
                    <input
                      [id]="'ckBoxColor' + sc.id + ss.id"
                      [class]="'ckBoxColor' + sc.id"
                      type="checkbox"
                      (change)="toggleUpdateFieldBtn(sc.id)"
                    />
                  </td>
                  <td>
                    <span>{{ sanPham.ten }}</span>
                  </td>
                  <td>{{ ss.ten.split(" ")[0] }}</td>
                  <td>
                    <input
                      [id]="'giaNhap' + sc.id + ss.id"
                      [class]="'giaNhap' + sc.id"
                      type="text"
                      style="width: 100px"
                      value="0"
                      (input)="formatNumber2($event, 'giaNhap' + sc.id + ss.id)"
                    />
                  </td>
                  <td>
                    <input
                      [id]="'giaBan' + sc.id + ss.id"
                      [class]="'giaBan' + sc.id"
                      type="text"
                      style="width: 100px"
                      value="0"
                      (input)="formatNumber2($event, 'giaBan' + sc.id + ss.id)"
                    />
                  </td>
                  <td>
                    <input
                      [id]="'soLuong' + sc.id + ss.id"
                      [class]="'soLuong' + sc.id"
                      type="text"
                      style="width: 100px"
                      value="0"
                      (input)="formatNumber2($event, 'soLuong' + sc.id + ss.id)"
                    />
                  </td>
                  <td>
                    <i
                      class="fa-solid fa-trash pointer"
                      style="color: red"
                      (click)="deleteRow('row' + sc.id + ss.id)"
                    ></i>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="text-center col-4">
              <!-- ẢNH -->
              <h5>Ảnh</h5>
              <img
                class="default-img mb-3 pointer"
                title="Chọn ảnh"
                src="assets/img/default-image.jpg"
                (click)="
                  openHinhAnhModal(sc.ten, sc.id, sanPham?.id, colorIndex)
                "
              />
              <button
                id="anhSpModalBtn"
                type="button btn-primary"
                class="btn btn-primary ms-3 mb-3"
                data-bs-toggle="modal"
                data-bs-target="#anhSpModal"
                hidden
              >
                <i class="fa-solid fa-plus"></i>
              </button>
              <div>
                <input
                  [id]="'fileImage' + colorIndex"
                  type="file"
                  multiple
                  hidden
                  (change)="changeInput($event)"
                />
              </div>

              <div class="container">
                <div class="image-container-2">
                  <img
                    *ngFor="
                      let f of selectedImgFileList[colorIndex];
                      let sizeIndex = index
                    "
                    [id]="'selectedImg1' + imgIndex + sizeIndex"
                    [class]="'selectedImg1' + colorIndex + sizeIndex"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-center">
  <button class="btn btn-success rounded" (click)="add()">Thêm</button>
</div>

<!-- modal: ảnh -->
<div
  class="modal fade"
  id="anhSpModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="text-center mb-3">
          <h5>
            Sản phẩm '{{ selectedTenMauSac }}' của sản phẩm '{{ sanPham?.ten }}'
          </h5>
        </div>
        <!-- các ảnh đã chọn -->
        <h6>Danh sách ảnh đã chọn:</h6>
        <div class="text-center">
          <i *ngIf="curSelectedImgFileList.length === 0">Chưa có ảnh nảo</i>
        </div>
        <div
          style="display: inline-block"
          *ngFor="let f of curSelectedImgFileList; let i = index"
        >
          <div>
            <img class="thumbnail me-5" [id]="'selectedImg2' + imgIndex + i" />
          </div>
        </div>

        <!-- các ảnh đã chọn cùng màu -->
        <hr />
        <h6>Danh sách ảnh đã có màu:</h6>
        <div class="text-center">
          <i *ngIf="existingImgList.length === 0">Chưa có ảnh nảo</i>
        </div>
        <div
          class="image-container"
          *ngFor="let ei of existingImgList; let i = index"
        >
          <img class="exist-img" [id]="'existingImg' + i" src="" />
          <input type="checkbox" class="checkbox" />
        </div>

        <!-- Danh sách ảnh tải lên -->
        <hr />
        <h6>Danh sách ảnh tải lên:</h6>
        <div class="text-center">
          <i *ngIf="curUploadImgFileList.length === 0">Chưa có ảnh nảo</i>
        </div>
        <div
          class="image-container"
          *ngFor="let file of curUploadImgFileList; let i = index"
        >
          <img
            class="exist-img"
            [id]="'uploadImg' + selectedIdMauSac + i"
            src=""
          />
          <input
            [id]="'chkBoxUploadImg' + i"
            [checked]="isUploadImgChecked(file.name)"
            type="checkbox"
            class="checkbox"
            (change)="toggleUploadImage(i, file, $event)"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button
          class="btn btn-primary col-2 rounded"
          (click)="openFileInput(imgIndex)"
        >
          Tải ảnh lên
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Đóng
        </button>
      </div>
    </div>
  </div>
</div>

<!-- modal: màu sắc -->
<div
  class="modal fade"
  id="mauSacBoard"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Chọn màu sắc</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-6 pointer" *ngFor="let ms of mauSacList">
            <img
              class="color-img rounded"
              [src]="ms.image.imageUrl"
              (click)="selectColor(ms)"
            />
            <p>{{ ms.ten + " - " + ms.ma }}</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary rounded"
          data-bs-dismiss="modal"
        >
          Đóng
        </button>
      </div>
    </div>
  </div>
</div>

<!-- modal: kích cỡ -->
<div
  class="modal fade"
  id="kichCoBoard"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Chọn kích cỡ</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-2 pointer" *ngFor="let kc of kichCoList">
            <div
              class="border border-secondary p-3 rounded"
              (click)="selectKichCo(kc)"
            >
              {{ kc.ten.split(" ")[0] }}
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary rounded"
          data-bs-dismiss="modal"
        >
          Đóng
        </button>
      </div>
    </div>
  </div>
</div>

<!-- modal:chỉnh sửa giá nhập, giá bán, số lượng hàng loạt -->
<div
  class="modal fade"
  id="updateModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Chỉnh sửa</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label class="form-label">Giá nhập</label>
          <input
            id="giaNhapInput"
            class="form-control"
            type="text"
            value="0"
            (input)="formatNumber2($event, 'giaNhapInput')"
          />
        </div>

        <div class="mb-3">
          <label class="form-label">Giá bán</label>
          <input
            id="giaBanInput"
            class="form-control"
            type="text"
            value="0"
            (input)="formatNumber2($event, 'giaBanInput')"
          />
        </div>

        <div class="mb-3">
          <label class="form-label">Số lượng</label>
          <input
            id="soLuongInput"
            class="form-control"
            type="text"
            value="0"
            (input)="formatNumber2($event, 'soLuongInput')"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button
          id="chinhSuaNhanhBtn"
          class="btn btn-secondary rounded"
          type="button"
          data-bs-dismiss="modal"
        >
          Đóng
        </button>
        <button
          type="button"
          class="btn btn-primary rounded"
          (click)="saveSoLuongForm()"
        >
          Lưu
        </button>
      </div>
    </div>
  </div>
</div>

<!-- modal: thêm nhanh thuộc tính -->
<div
  class="modal fade"
  id="addNhanhForm"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">
          Thêm mới nhanh '{{ thuocTinhNhanh.ten }}'
        </h1>
      </div>
      <form [formGroup]="addNhanhForm">
        <div class="modal-body">
          <div class="form-row">
            <label>Tên {{ thuocTinhNhanh.ten }}:</label>
            <input
              type="text"
              class="form-control rounded"
              [ngClass]="
                addNhanhForm.get('ten').invalid &&
                addNhanhForm.get('ten').touched
                  ? 'is-invalid'
                  : ''
              "
              formControlName="ten"
            />
            <div class="invalid-feedback">Không được bỏ trống</div>
          </div>
        </div>

        <div class="modal-footer">
          <button
            id="closeAddNhanhBtn"
            type="button"
            class="btn btn-secondary rounded"
            (click)="initAddNhanhForm()"
            data-bs-dismiss="modal"
          >
            Đóng
          </button>
          <button
            type="button"
            class="btn btn-primary rounded"
            [disabled]="addForm.invalid"
            (click)="addNhanhThuocTinh()"
          >
            Thêm
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<app-overlay *ngIf="isLoadding" [text]="overlayText"></app-overlay>
