<div class="main-header">
  <div id="topbar">
    <div class="marquee-topbar">
      <div class="item animation">
        <p><strong>🚛 FREESHIP MỌI ĐƠN TỪ 399K</strong></p>
      </div>
      <div class="item">
        <p><strong>VOUCHER 10K CHO ĐƠN 99K</strong></p>
      </div>

      <div class="item">
        <p><strong>VOUCHER 50K CHO ĐƠN 799K</strong></p>
      </div>
    </div>
  </div>

  <div class="navMain1">
    <header class="container">
      <div class="mainHeader">
        <label for="nav_check" class="hamburger  c">
          <div></div>
          <div></div>
          <div></div>
        </label>

        <div class="logo c">
          <img src="https://i.imgur.com/XlMdwHa.png" alt="" />
        </div>

        <div class="search">
          <form action="/search" class="wanda-mxm-search">
            <div class="search-inner">
              <input name="q" autocomplete="off" class="searchinput " type="text" size="20"
                placeholder="Bạn đang tìm gì..." aria-label="Search" />
            </div>

          </form>
        </div>

        <div class="nav-account">
          <div class="taiKhoan">
            <div class="iconnav">
              <i class="iconUser bi bi-person"></i>
            </div>
            <span class="nameIcon">
              Đăng Nhập
            </span>
          </div>

          <div class="gioHang">
            <div class="iconnav">
              <i class="iconCart1 bi bi-cart-dash"></i>
            </div>
           <span class="nameGioHang">
            Giỏ Hàng
           </span>
          </div>
        </div>

      </div>
    </header>
  </div>
</div>

<div class="header-botton">
  <input type="checkbox" id="nav_check" hidden />

  <nav class="mainNav">
    <div class="logo">
      <img src="https://i.imgur.com/XlMdwHa.png" alt="" />
    </div>

    <ul style="margin: 0">
      <li>
        <a href="">Trang Chủ</a>
      </li>
      <li>
        <a href="/trang-san-pham">Sản Phẩm</a>
        <span class="header_new">New</span>
      </li>
      <li>
        <a href="">Áo Nam</a>
      </li>
      <li>
        <a href="">Về Chúng Tôi</a>
      </li>
      <li>
        <a href="">Liên Hệ</a>
      </li>
    </ul>
  </nav>
</div>