<div class="container">
  <div class="overflow-x-auto-mb">
    <div class="wd-list-coupon d-flex">
      <div class="item">
        <div class="wd-coupon d-flex">
          <div class="wd-coupon-left d-flex">
            <strong> W10 </strong>
          </div>
          <div class="wd-coupon-right d-flex">
            <div class="wd-coupon-right-top">
              <div class="coupon_title">
                <span class="big-bold">Giảm 10K</span>
              </div>
              <small>đơn từ 99K (số lượng có hạn)</small>
            </div>

            <div class="wd-coupon-right-bottom d-flex d-flex-center">
              <div class="wd-coupon-detail d-flex">
                <span
                  >Mã:
                  <strong>W10</strong>
                </span>
                <span>HSD: 25/01/2023</span>
              </div>
              <div class="wd-coupon-copy">
                <button data-code="W10" class="clone-coupon" type="button">
                  Sao chép mã
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="wd-coupon d-flex">
          <div class="wd-coupon-left d-flex">
            <strong> W50 </strong>
          </div>
          <div class="wd-coupon-right d-flex">
            <div class="wd-coupon-right-top">
              <div class="coupon_title">
                <span class="big-bold">Giảm 10K</span>
              </div>
              <small>đơn từ 699K (số lượng có hạn)</small>
            </div>

            <div class="wd-coupon-right-bottom d-flex d-flex-center">
              <div class="wd-coupon-detail d-flex">
                <span
                  >Mã:
                  <strong>W50</strong>
                </span>
                <span>HSD: 25/01/2023</span>
              </div>
              <div class="wd-coupon-copy">
                <button data-code="W50" class="clone-coupon" type="button">
                  Sao chép mã
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="wd-coupon d-flex">
          <div class="wd-coupon-left d-flex">
            <strong> W100 </strong>
          </div>
          <div class="wd-coupon-right d-flex">
            <div class="wd-coupon-right-top">
              <div class="coupon_title">
                <span class="big-bold">Giảm 100K</span>
              </div>
              <small>đơn từ 1999K (số lượng có hạn)</small>
            </div>

            <div class="wd-coupon-right-bottom d-flex d-flex-center">
              <div class="wd-coupon-detail d-flex">
                <span
                  >Mã:
                  <strong>W100</strong>
                </span>
                <span>HSD: 25/01/2023</span>
              </div>
              <div class="wd-coupon-copy">
                <button data-code="W100" class="clone-coupon" type="button">
                  Sao chép mã
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="wd-coupon d-flex">
          <div class="wd-coupon-left d-flex">
            <strong> GD10 </strong>
          </div>
          <div class="wd-coupon-right d-flex">
            <div class="wd-coupon-right-top">
              <div class="coupon_title">
                <span class="big-bold">GIẢM 10% </span>
              </div>
              <small>đơn từ 799K (số lượng có hạn)</small>
            </div>

            <div class="wd-coupon-right-bottom d-flex d-flex-center">
              <div class="wd-coupon-detail d-flex">
                <span
                  >Mã:
                  <strong>GD10</strong>
                </span>
                <span>HSD: 25/01/2023</span>
              </div>
              <div class="wd-coupon-copy">
                <a class="coupon_copy_new"> Đã săn hết </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
