<app-header></app-header>

<!-- <section class="container">
  <div>
    <h2 class="title-section bd-left">
      <span>ƯU ĐÃI DÀNH CHO BẠN</span>
    </h2>
  </div>
  <app-phieu-giam-gia></app-phieu-giam-gia>
</section>

<section class="container">
  <app-dot-giam-gia></app-dot-giam-gia>
</section> -->

<section class="pb-5 container">
  <!-- Sản Phẩm Mới Ra -->
  <div class="pb-3">
    <h2 class="title-section bd-left">
      <span>Sản Phẩm Mới Ra</span>
    </h2>
  </div>


  <div class="product-carousel" >


    <div class="product" *ngFor="let sp of pagedResponse?.data">
      <div class="product-top">
        <img class="product-image" [src]="sp.sanPhamChiTiets[0].hinhAnhs[0].imageUrl" />
        <div class="product-name">
          <a [routerLink]="'/san-pham/' + sp.id">{{
            sp.ten
            }}</a>
        </div>
      </div>
      <div class="product-bottom">
        <p class="product-prices">
          <span class="price-was">{{ displayPrice(sp) }}</span>
          
        </p>
        <button class="shop-now">Shop Now</button>
      </div>
    </div>




   

  </div>
</section>