<app-header></app-header>



<section class="container">
  <div>
    <h2 class="title-section bd-left">
      <span>ƯU ĐÃI DÀNH CHO BẠN</span>
    </h2>
  </div>
  <app-phieu-giam-gia></app-phieu-giam-gia>
</section>

<section class="container">

  <div class="pb-3">
    <h2 class="title-section bd-left">
      <span><img width="20" height="20" src="https://file.hstatic.net/1000253775/file/flash_c1195bb7597344909c3a855990d45510.png" alt="FLASH SALE">FLASH SALE </span>
    </h2>
  </div>
<app-dot-giam-gia></app-dot-giam-gia>
</section>

<section class="pb-5 container">

  <!-- Sản Phẩm Mới Ra -->
  <div class="pb-3">
    <h2 class="title-section bd-left">
      <span>Sản Phẩm Mới Ra</span>
    </h2>
  </div>
  
  <div class="slide-container swiper ">
  
    <div class="slide-content"  style="overflow:hidden;">
      <div class="card-wraper swiper-wrapper">
        <div class=" swiper-slide" *ngFor="let sp of pagedResponse?.data">
          <div class="image-content">
            <div class="card-image">
              <img [src]="sp.sanPhamChiTiets[0].hinhAnhs[0].imageUrl"
                alt="" class="card-img">
            </div>
          </div>

          <div class="card-content">
            <div>
              <span *ngFor="let mauSac of getMauSacList(sp)">
                <img class="img-color" [src]="mauSac.image.imageUrl" 
                  [title]="mauSac.ten" />
              </span>
            </div>
            <h2 class="name">{{ sp.ten }}</h2>
           <span class="price"> {{ displayPrice(sp) }}</span>
           
          
          </div>
        </div>
      </div>
    </div>
    <div id="next-content" class="swiper-button-next"></div>
    <div id="prev-content" class="swiper-button-prev"></div>
    
  
  </div>

  

</section>

