* {
  padding: 0;
  box-sizing: border-box;
}

.title-section {
  margin-top: 30px;
  border-left: 4px solid #000;
  padding-left: 10px;
}

.title-section span {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  color: black;
}


.product-carousel{
  display: flex !important;
}

.product-image{
  width: 250px;
}

.product{
  border: 1px solid #000;
}